# Limpieza de datos

* Vamos a aplicar el [checklist del Banco Mundial](https://dimewiki.worldbank.org/wiki/Checklist:_Data_Cleaning) en Python usando el [SciPy stack](https://www.scipy.org/stackspec.html), principalmente pandas

## 0. Prerequisitos

In [1]:
# Para que la notebook corra tanto en jupyter como en colab.
# NO ES RECOMENDADO realizar pip install desde un notebook.

import sys
in_colab = 'google.colab' in sys.modules

if in_colab:
  BASE_DIR = "https://github.com/DiploDatos/AnalisisYCuracion/raw/master/"
else:
  BASE_DIR = ".."
if 'ftfy' not in sys.modules:
    !pip install 'ftfy<5.6'

El sistema no puede encontrar el archivo especificado.

# 1. Importando los datos

# 1.1. Verificar que no hay problemas en la importación

In [2]:
import pandas as pd

# para que los numeros flotantes me los muestre solo con dos decimales
pd.options.display.float_format = '{:.2f}'.format

In [3]:
# Importamos datos de proyectos de Kickstarter la plataforma de Crowdsourcing

kickstarter_2018 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201801.csv")

In [4]:
kickstarter_2018[:5]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.00,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00

In [5]:
# Set seed for reproducibility

# Al fijar la semilla no habrá azar.
# Esto es algo necesario cuando queremos "reproducir valores aleatorios".

import numpy as np
np.random.seed(0)

In [6]:
kickstarter_2018.sample(5)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
338862,796196901,10G Christmas Tree,Art,Art,USD,2010-12-26,10526.00,2010-12-08 08:44:04,0.00,failed,0,US,0.00,0.00,10526.00
277871,483825010,Gliff,Gaming Hardware,Games,USD,2016-03-28,10000.00,2016-01-28 04:56:18,51.00,failed,5,US,51.00,51.00,10000.00
47000,123916947,STUFFED Food Truck,Food Trucks,Food,USD,2015-01-06,60000.00,2014-11-07 02:24:36,25.00,failed,1,US,25.00,25.00,60000.00
111338,1565733636,NeoExodus Adventure: Origin of Man for Pathfin...,Tabletop Games,Games,USD,2012-05-01,500.00,2012-03-15 01:16:10,585.00,successful,17,US,585.00,585.00,500.00
53743,1273544891,NAPOLEON IN NEW YORK! an original TV Series,Comedy,Film & Video,USD,2016-07-26,25000.00,2016-05-27 00:07:25,25.00,failed,1,US,25.00,25.00,25000.00

* Veamos si la descripción del dataset se corresponde con lo levantado    https://www.kaggle.com/kemical/kickstarter-projects/data

In [7]:
pd.DataFrame([["ID", "No description provided", "Numeric"],
["name", "No description provided", "String"],
["category", "No description provided", "String"],
["main_category", "No description provided", "String"],
["currency", "No description provided", "String"],
["deadline", "No description provided", "DateTime"],
["goal", "Goal amount in project currency", "Numeric"],
["launched", "No description provided", "DateTime"],
["pledged", "Pledged amount in the project currency", "Numeric"],
["state", "No description provided", "String"],
["backers", "No description provided", "Numeric"],
["country", "No description provided", "String"],
["usd pledged", "Pledged amount in USD (conversion made by KS)", "Numeric"],
["usd_pledged_real", "Pledged amount in USD (conversion made by fixer.io api)", "Numeric"],
["usd_goal_real", "Goal amount in USD", "Numeric"]], columns=["Field name","Field description", "Type"])

,Field name,Field description,Type
0,ID,No description provided,Numeric
1,name,No description provided,String
2,category,No description provided,String
3,main_category,No description provided,String
4,currency,No description provided,String
5,deadline,No description provided,DateTime
6,goal,Goal amount in project currency,Numeric
7,launched,No description provided,DateTime
8,pledged,Pledged amount in the project currency,Numeric
9,state,No description provided,String
10,backers,No description provided,Numeric
11,country,No description provided,String
12,usd pledged,Pledged amount in USD (conversion made by KS),Numeric
13,usd_pledged_real,Pledged amount in USD (conversion made by fixe...,Numeric
14,usd_goal_real,Goal amount in USD,Numeric

* Ahora veamos los tipos de datos que detectó pandas

In [8]:
kickstarter_2018.dtypes

ID                    int64
name                 object
category             object
main_category        object
currency             object
deadline             object
goal                float64
launched             object
pledged             float64
state                object
backers               int64
country              object
usd pledged         float64
usd_pledged_real    float64
usd_goal_real       float64
dtype: object

* Los campos object generalmente son String
* Vemos que no reconoció como fechas a las variables: **deadline** y **launched**

In [9]:
# Vemos un resumen de los datos

kickstarter_2018.describe()

,ID,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real
count,378661.00,378661.00,378661.00,378661.00,374864.00,378661.00,378661.00
mean,1074731191.99,49080.79,9682.98,105.62,7036.73,9058.92,45454.40
std,619086204.32,1183391.26,95636.01,907.19,78639.75,90973.34,1152950.06
min,5971.00,0.01,0.00,0.00,0.00,0.00,0.01
25%,538263516.00,2000.00,30.00,2.00,16.98,31.00,2000.00
50%,1075275634.00,5200.00,620.00,12.00,394.72,624.33,5500.00
75%,1610148624.00,16000.00,4076.00,56.00,3034.09,4050.00,15500.00
max,2147476221.00,100000000.00,20338986.27,219382.00,20338986.27,20338986.27,166361390.71

In [10]:
# Por defecto se ven los datos numéricos
# Pediremos ver el resto de los datos

kickstarter_2018.describe(include=['object'])

,name,category,main_category,currency,deadline,launched,state,country
count,378657,378661,378661,378661,378661,378661,378661,378661
unique,375764,159,15,14,3164,378089,6,23
top,New EP/Music Development,Product Design,Film & Video,USD,2014-08-08,1970-01-01 01:00:00,failed,US
freq,41,22314,63585,295365,705,7,197719,292627

In [11]:
# Operamos sobre los datos pidiendo el valor mínimo

kickstarter_2018['launched'].min()

'1970-01-01 01:00:00'

In [12]:
# Operamos sobre los datos pidiendo el valor máximo
kickstarter_2018['launched'].max()

'2018-01-02 15:02:31'

In [13]:
# Indicamos que columnas corresponden a fechas

kickstarter_2018 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201801.csv", 
                               parse_dates=["deadline","launched"])
kickstarter_2018.dtypes

ID                           int64
name                        object
category                    object
main_category               object
currency                    object
deadline            datetime64[ns]
goal                       float64
launched            datetime64[ns]
pledged                    float64
state                       object
backers                      int64
country                     object
usd pledged                float64
usd_pledged_real           float64
usd_goal_real              float64
dtype: object

In [14]:
# Ahora podemos calcular el rango de la fecha de lanzamiento -> 'launched'

kickstarter_2018['launched'].max() - kickstarter_2018['launched'].min()

Timedelta('17533 days 14:02:31')

# 1.2. Asegurar de tener ids/claves únicas

* Chequeo de datos duplicados

In [15]:
kickstarter_2018.shape

(378661, 15)

* Pandas soporta índices (id) en los DataFrames

In [16]:
# Recargamos el conjunto de datos indicando que columna será el índice (index_col=['ID'])

kickstarter_2018 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201801.csv", 
                               parse_dates=["deadline","launched"],
                               index_col=['ID'])

In [17]:
kickstarter_2018[:5]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,,,
1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95
1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00
1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00
1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00
1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.00,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00

In [18]:
kickstarter_2018.shape

(378661, 14)

* Indicar el índice nos permite que podamos usarlo para buscar por ese dato

In [19]:
kickstarter_2018.loc[999988282]

name                Nou Renmen Ayiti!  We Love Haiti!
category                              Performance Art
main_category                                     Art
currency                                          USD
deadline                          2011-08-16 00:00:00
goal                                          2000.00
launched                          2011-07-19 09:07:47
pledged                                        524.00
state                                          failed
backers                                            17
country                                            US
usd pledged                                    524.00
usd_pledged_real                               524.00
usd_goal_real                                 2000.00
Name: 999988282, dtype: object

* Buscar por índice, nos permite verificar si hay filas de contenidos duplicado

In [20]:
# Para buscar duplicados

kickstarter_2018[kickstarter_2018.duplicated()]

Empty DataFrame
Columns: [name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd pledged, usd_pledged_real, usd_goal_real]
Index: []

* No detectó duplicados
* Como Pandas acepta valores duplicados en los índices también debemos verificarlos

In [21]:
# Estadísticos descriptivos de la columna ID

pd.Series(kickstarter_2018.index,dtype=str).describe()

count       378661.00
mean    1074731191.99
std      619086204.32
min           5971.00
25%      538263516.00
50%     1075275634.00
75%     1610148624.00
max     2147476221.00
Name: ID, dtype: float64

In [22]:
# Buscamos nuevamente si hay datos duplicados

kickstarter_2018[kickstarter_2018.index.duplicated()]

Empty DataFrame
Columns: [name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd pledged, usd_pledged_real, usd_goal_real]
Index: []

* No detectó duplicados buscando por ID

## Repasamos con un ejemplo

In [23]:
csv='1,2\n3,3\n1,3'
print(csv)

1,2
3,3
1,3

In [24]:
# pasamos los datos a una tabla
from io import StringIO
df = pd.read_csv(StringIO(csv), names=['id','value'], index_col='id')
df

    value
id
1       2
3       3
1       3

In [25]:
# Buscamos duplicados, solo muestra el primer duplicado
df[df.duplicated()]

    value
id
1       3

In [26]:
# si quremos ver todos los valores repetidos hay que usar keep=False
df[df.index.duplicated(keep=False)]

    value
id
1       2
1       3

### Ejercicio 1:

* Armar una tabla con todos los proyectos con nombres duplicados, ordenados para revisar agrupados.

In [27]:
# Recargamos la base de datos indicando que la columna índice será el Nombre -> (index_col=['name'])

kickstarter_2018_name = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201801.csv", 
                               parse_dates=["deadline","launched"],
                               index_col=['name'])
kickstarter_2018_name[:4]

,ID,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
name,,,,,,,,,,,,,,
The Songs of Adelaide & Abullah,1000002330,Poetry,Publishing,GBP,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95
Greeting From Earth: ZGAC Arts Capsule For ET,1000003930,Narrative Film,Film & Video,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00
Where is Hank?,1000004038,Narrative Film,Film & Video,USD,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00
ToshiCapital Rekordz Needs Help to Complete Album,1000007540,Music,Music,USD,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00

In [28]:
# Creamos un nuevo dataset que tenga los registros con nombres duplicados
# Buscamos nuevamente si hay datos duplicados

kickstarter_2018_dup = kickstarter_2018[kickstarter_2018.name.duplicated(keep=False)].sort_values('name')
kickstarter_2018_dup[:4]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,,,
816998285,"""...The Last shall be first..."" LODB Lifestyle...",Fashion,Fashion,USD,2014-02-09,6500.00,2013-12-19 21:51:50,0.00,canceled,0,US,0.00,0.00,6500.00
815783250,"""...The Last shall be first..."" LODB Lifestyle...",Fashion,Fashion,USD,2014-03-01,6500.00,2014-01-03 20:39:16,37.00,failed,3,US,37.00,37.00,6500.00
1010584633,"""A Fresh Start""",Shorts,Film & Video,USD,2011-09-25,3000.00,2011-08-28 21:27:52,3000.00,successful,24,US,3000.00,3000.00,3000.00
713417995,"""A Fresh Start""",Documentary,Film & Video,USD,2013-03-27,5000.00,2013-01-26 03:51:47,1417.00,failed,26,US,1417.00,1417.00,5000.00

In [29]:
kickstarter_2018_dup.shape

(5125, 14)

* Tenemos **5125** registros con nombres duplicados

# 1.3. Despersonalizar datos y guardarlos en un nuevo archivo

Hay muchas técnicas para despersonalizar datos.

Para ilustrar mostramos las ofrecidas por Google https://cloud.google.com/dlp/docs/transformations-reference:

* **Reemplazo**: Reemplaza cada valor de entrada con un valor determinado.
* **Ocultamiento**: Quita un valor y lo oculta.
* **Enmascaramiento con caracteres**: Enmascara una string por completo o parcialmente mediante el reemplazo de un número determinado de caracteres con un carácter fijo especificado..
* **Seudonimización mediante el reemplazo de un valor de entrada con un hash criptográfico**: Reemplaza valores de entrada con una string hexadecimal de 32 bytes mediante una clave de encriptación de datos.
* **Cambio de fechas**: Cambia las fechas por un número de días al azar, con la opción de ser coherente en el mismo contexto..
* **Seudonimización mediante el reemplazo con token de preservación de formato criptográfico**: Reemplaza un valor de entrada con un token, o valor sustituto, de la misma longitud mediante la encriptación de preservación de formato (FPE) con el modo de operación FFX. Esto permite que se use el resultado en sistemas con validación de formato o que necesitan aparecer como reales a pesar de que la información no se revela.
* **Valores de depósito con base en rangos de tamaño fijos**: Enmascara los valores de entrada y los reemplaza por depósitos, o rangos dentro de los cuales se encuentra el valor de entrada.
* **Valores de depósito con base en rangos de tamaño personalizados**: Valores de entrada de depósito con base en rangos configurables por el usuario y valores de reemplazo.
* **Extracción de datos de tiempo**: EExtrae o preserva una porción de los valores Date, Timestamp y TimeOfDay.

In [30]:
# Librería para hacer hashs -> códigos para encriptar nombres y despersonalizar los datos
from hashlib import md5

In [31]:
# Es necesario setear el encoding utf-8 andes de hashear

# Los floats no tienen atributo 'encode' por eso los debemos pasar a str

def hashit(val):
    if isinstance(val, float): 
        return str(val)
    return md5(val.encode('utf-8')).hexdigest()


kickstarter_2018['name'].apply(hashit)

ID
1000002330    a6828ae8a2eca25f0dd7035efc0af0a0
1000003930    81609b3bdc0b96f429672d69702f2524
1000004038    c12f5c3bace2f0213cdb2679a265dca0
1000007540    4dbdcf09c86bbf5683ec39bc57b77f81
1000011046    9c01404a2ef702811c2088ce139042ad
1000014025    3a26b565c8396d4867dda27816836e04
1000023410    1602dce9289c950176c41ce124944335
1000030581    1abb0a27e1a3ce5a79965e3022c6bddc
1000034518    3b3a87aebec0d9c1b3a4a5e4da7a88a8
100004195     d7c53ef574a108d857d52087bb685244
100004721     eba20b66506f511bfacfe843176f5e15
100005484     9df25d0c0e2f8ea9de303f3d4efaf3c8
1000055792    717f62eae71408f00fa49227da83feae
1000056157    6532f0fa53550fd516921a2d7a1121d6
1000057089    799a510f874b6d47c1fde736d22cae3e
1000064368    93ebbffc751f9cc8d31e0147b7b1c7e3
1000064918    c10592831d537538905aefc12d54b49d
1000068480    0f109f9875645b801843775bbeadb1f1
1000070642    2d3d4b4267af87948bf7ac6d3ca13b54
1000071625    26c10e7de5df6269e71df1bf49ff4da9
1000072011    459cec5845add6a7f8fb1498cfc0e618
1000081649    717d11ee2f9e2bd87329f78a8d7bdc1c
1000082254    487618e937714fbcb32f9b598736648b
1000087442    8424232e00cc48fb064567323a261dc3
1000091520    7c5a6a64bac6118f314cf7929f0e28bc
1000102741    04c31ebb8ae046861909831eb3191575
1000103948    4c9142bd7323ce6b56845ad2b9fbd4df
1000104688    3c0a4fd740ea2c78ad43a9012ced6c31
1000104953    24a24cd343d1fe32402d2bd2c4cc2765
100011318     0f560a6815e2cc8a16c960a0345b55cd
                            ...
999832803     96e1db6ef56048946d06c4684b325f3b
99984851      7090c016667e74d9fe441a2c14f9060f
999865831     7a8b0e1864c9565fe4fae6150d13d043
999867839     8efaae0c43a5b3be635eba9d2d153998
99987261      9b8a19ba3e194d9feeafda8975c164e0
999877902     693e50d5d66041edcc8261ab2f90d262
999878813     4f829526c723be2a492c6f39d8e54bf3
999880710     c078e5341a21d0126b5fbc328d51f8b7
999884445     7a8363b7819549e1aaff6e36d704cc1d
999893629     40e958dcfd7529ed05bac962917ffb08
99991751      9d5b82a5986df3cc7fd8b86e16450e98
999929142     81a865de7fa5e6e465ca4b30a462f478
999931480     e31dd9639dceb81b16149a80270122cc
999934908     41dcad0d3c8bd1df1cfaf1f3f1a7a3ab
999941823     f491e66724288060ade741ccebdb06d0
999943841     d158f663c3b4863948fd2f3cfae9da26
999950812     8ebb80ca7c016467b75df389988ccf39
999955533     e53d15d590055d15095cd6cf7a0242aa
999963618     882197e4f447ba42579cce28551f4adc
99996661      91259861e10595aaf111dcaff67a0493
999969812     4f29e45b8842034257ae4a66775628b1
999971898     caad57bc3cc35ac755c4d3f80ad76272
999972264     f45882dc2c76b2a19db36056416a0819
999975836     94e7f96603f00c7e6c4e44f3b1460c55
999976312     a9c021911e5f53baf3b9eb8882a49974
999976400     d89228576343394467096843057f3aa4
999977640     bbcb30bd9bd4f9bff0a96fc44d0001f0
999986353     6c3094666e1a315b6e179566fe3972d9
999987933     887be409ad8b93f26084845a41d4c178
999988282     11f7ae3385c567df409deb5f4ac9a2a5
Name: name, Length: 378661, dtype: object

### Ejercicio 2:

* Verificar que los proyectos que tienen nombres duplicados también tienen el hash de nombre duplicado

In [32]:
kickstarter_2018_dup.shape

(5125, 14)

In [33]:
# Verificamos si estos registros también tienen el hash de nombre duplicado

kickstarter_2018_dup['name_hash'] = kickstarter_2018_dup['name'].apply(hashit)
kickstarter_2018_dup[:4]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,name_hash
ID,,,,,,,,,,,,,,,
816998285,"""...The Last shall be first..."" LODB Lifestyle...",Fashion,Fashion,USD,2014-02-09,6500.00,2013-12-19 21:51:50,0.00,canceled,0,US,0.00,0.00,6500.00,0c7a251ffe4c7834cbc4b04906952ff1
815783250,"""...The Last shall be first..."" LODB Lifestyle...",Fashion,Fashion,USD,2014-03-01,6500.00,2014-01-03 20:39:16,37.00,failed,3,US,37.00,37.00,6500.00,0c7a251ffe4c7834cbc4b04906952ff1
1010584633,"""A Fresh Start""",Shorts,Film & Video,USD,2011-09-25,3000.00,2011-08-28 21:27:52,3000.00,successful,24,US,3000.00,3000.00,3000.00,67554ab4203d95f2f2f05365f768206e
713417995,"""A Fresh Start""",Documentary,Film & Video,USD,2013-03-27,5000.00,2013-01-26 03:51:47,1417.00,failed,26,US,1417.00,1417.00,5000.00,67554ab4203d95f2f2f05365f768206e

In [34]:
kickstarter_2018_dup.shape

(5125, 15)

* Tenemos **5125** registros con hash duplicados
* Estos registros se corresponden con los que habíamos detectado para nombres duplicados

# 1.4. Nunca modificar los datos crudos u originales

In [35]:
#no hacer modificaciones para no perder los datos originales

#if not in_colab:
#  kickstarter_2018.to_csv(BASE_DIR + "/output/ks-projects-201801-for-pandas.csv")


# 2. Pasos necesarios

In [36]:
# Paso necesario si no estamos en colab

import pandas as pd

if not in_colab:
  kickstarter_2018 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201801-for-pandas.csv",
  #kickstarter_2018 = pd.read_csv(BASE_DIR + "/output/ks-projects-201801-for-pandas.csv",
                        index_col='ID',
                        parse_dates=['deadline','launched'])

In [37]:
kickstarter_2018.describe(include='all')

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
count,378657,378661,378661,378661,378661,378661.00,378661,378661.00,378661,378661.00,378661,374864.00,378661.00,378661.00
unique,375764,159,15,14,3164,nan,378089,nan,6,nan,23,nan,nan,nan
top,New EP/Music Development,Product Design,Film & Video,USD,2014-08-08 00:00:00,nan,1970-01-01 01:00:00,nan,failed,nan,US,nan,nan,nan
freq,41,22314,63585,295365,705,nan,7,nan,197719,nan,292627,nan,nan,nan
first,NaN,NaN,NaN,NaN,2009-05-03 00:00:00,nan,1970-01-01 01:00:00,nan,NaN,nan,NaN,nan,nan,nan
last,NaN,NaN,NaN,NaN,2018-03-03 00:00:00,nan,2018-01-02 15:02:31,nan,NaN,nan,NaN,nan,nan,nan
mean,NaN,NaN,NaN,NaN,NaN,49080.79,NaN,9682.98,NaN,105.62,NaN,7036.73,9058.92,45454.40
std,NaN,NaN,NaN,NaN,NaN,1183391.26,NaN,95636.01,NaN,907.19,NaN,78639.75,90973.34,1152950.06
min,NaN,NaN,NaN,NaN,NaN,0.01,NaN,0.00,NaN,0.00,NaN,0.00,0.00,0.01
25%,NaN,NaN,NaN,NaN,NaN,2000.00,NaN,30.00,NaN,2.00,NaN,16.98,31.00,2000.00
50%,NaN,NaN,NaN,NaN,NaN,5200.00,NaN,620.00,NaN,12.00,NaN,394.72,624.33,5500.00
75%,NaN,NaN,NaN,NaN,NaN,16000.00,NaN,4076.00,NaN,56.00,NaN,3034.09,4050.00,15500.00
max,NaN,NaN,NaN,NaN,NaN,100000000.00,NaN,20338986.27,NaN,219382.00,NaN,20338986.27,20338986.27,166361390.71

## 2.1. En las etiquetas de las variables, no se deben usar caracteres especiales.

In [38]:
# helpful character encoding module
import chardet

In [39]:
# Los caracteres 'normales' son los números y las letras
import string

string.ascii_letters + string.digits

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789'

* ASCII: Es una de las primeras codificaciones (o encoding) disponibles. Ver https://en.wikipedia.org/wiki/ASCII

* Un encoding es un mapa de caracteres a una representación en bits (por ejemplo 1000001). ASCII es uno de los primeros estandares para interoperatividad entre computadoras (antes cada fabricante de computadora usa su propia codificación), contempla sólo los caracteres ingleses y usa 7 bits, por ejemplo *1000001* codifica el caracter *A*

* Cómo sólo representaban los caracteres ingleses, empiezan a aparecer variantes para distintos idiomas, Microsoft hizo los propios para internacionalizar Windows, hubo otro estandar ISO 8859, hasta que llegó el éstandar Unicode que hizo múltiples encodings pero cada uno contempla múltiples idiomas e incluso es extensible a futuro. UTF-8 es de esos encodings el más utilizado. Ver https://en.wikipedia.org/wiki/Unicode

* En particular, Python 3 utiliza UTF-8 por defecto (lo que no sucedía en Python 2).

### Veamos un ejemplo práctico

In [40]:
# Comenzar por un string
before = "This is the euro symbol: €"

# checkear que datatype es
type(before)

str

In [41]:
# cambiar el encode reemplazando caracteres que den errores
after = before.encode("utf-8", errors = "replace")

# checkear que datatype es
type(after)

bytes

In [42]:
# veamos como se ven los bytes
after

# cuando no tiene un simbolo ascii python muestra el codigo exadecimal del símbolo (\xe2\x82\xac)

b'This is the euro symbol: \xe2\x82\xac'

In [43]:
# reconvertirlo a utf-8
print(after.decode("utf-8"))

This is the euro symbol: €

In [44]:
# decodifica los bytes con el ascii encoding

#print(after.decode("ascii"))
after_ascii = after.decode("ascii", errors = "replace")

In [45]:
# start with a string
before = "This is the euro symbol: €"

# encode it to a different encoding, replacing characters that raise errors
after = before.encode("utf-8", errors = "replace")

# convert it back to utf-8
print(after.decode("utf-8"))

# We've lost the original underlying byte string! It's been 
# replaced with the underlying byte string for the unknown character :(

This is the euro symbol: €

* Cuando obtenemos un error `UnicodeDecodeError` nos indica que el archivo no estaría en Unicode. 
* Si no está en algún metadato o no fue indicado es dificil detectar el encoding, para ello utilizamos un paquete de Python, que aplica unas heurísticas para detectar encoding.

In [46]:
# Módulo para detectar el encoding

import chardet

if in_colab:
  !wget -c $BASE_DIR/input/kickstarter-projects/ks-projects-201612.csv
  DOWN_DIR = "./"
else:
  DOWN_DIR = BASE_DIR + "/input/kickstarter-projects/"
  
with open(DOWN_DIR + "/ks-projects-201612.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(10000))

result

{'encoding': 'Windows-1252', 'confidence': 0.73, 'language': ''}

* El encoding que posee la base de datos es: **Windows-1252**
* Entonces, una vez detectado, le podemos indicar el encoding al leer el archivos

In [47]:
# Leemos la base de datos con el encoding detectado por el módulo chardet

kickstarter_2016 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201612.csv", 
                               encoding='Windows-1252')
kickstarter_2016.head()

C:\Users\W10\miniconda3\envs\diplodatos-ayvd\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,nan
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,nan
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,nan
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,nan
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,nan

* Otro problema con los caracteres que es más sutíl es el: **[Mojibake](https://en.wikipedia.org/wiki/Mojibake)**

* Sucede al leer UTF-8 como ASCII extendido (ie. `Windows-*`, `iso-8859-*` entre otros)

### Ejemplo de mojibake:

In [48]:
"cigüeña".encode('utf-8').decode('iso-8859-1')

'cigÃ¼eÃ±a'

* Para solucionar esto vamos a usar un módulo específico: [ftfy](https://ftfy.readthedocs.io/en/latest/). 

* Este módulo nos permite ordenar cadenas por rareza

In [49]:
import ftfy.badness as bad

In [50]:
# Buscamos valores raros en la variable 'name' de la base de datos

def weird(val):
    if isinstance(val, float): 
        return 0
    return bad.sequence_weirdness(val)


kickstarter_2018['name_weirdness'] = kickstarter_2018['name'].apply(weird)
kickstarter_2018[kickstarter_2018['name_weirdness'] > 1]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,name_weirdness
ID,,,,,,,,,,,,,,,
1221990593,Support PMCD´s ¨From a Different Clay¨,Dance,Dance,USD,2011-06-08,1500.00,2011-04-28 05:15:32,1940.00,successful,27,US,1940.00,1940.00,1500.00,3
1234089244,Cracking (Mastering) the Metaphor (Political)...,Nonfiction,Publishing,USD,2013-10-27,30000.00,2013-09-27 23:33:29,0.00,failed,0,US,0.00,0.00,30000.00,2
124795481,µGALE (Canceled),Wearables,Technology,EUR,2015-04-17,18000.00,2015-02-16 01:55:34,10.00,canceled,2,NL,11.39,10.81,19465.14,2
1468489999,µCurrent GOLD - Precision Multimeter Current A...,Hardware,Technology,AUD,2013-12-31,9900.00,2013-12-17 10:28:09,116575.17,successful,1268,AU,104343.69,104871.51,8906.08,2
1610503461,µPeek - The Professional Microscope that Fits ...,Technology,Technology,CHF,2016-01-09,125000.00,2015-12-10 10:08:18,247688.14,successful,1435,CH,249249.19,246848.85,124576.44,2
16174550,PARALELO 19 Nº,Photography,Photography,MXN,2017-04-15,15000.00,2017-03-01 00:00:24,3340.00,failed,8,MX,0.00,177.36,796.52,2
1719215256,Kickstarter Gold: Manual Coffeemaker Nº3,Product Design,Design,USD,2017-07-22,60000.00,2017-06-20 15:29:56,68587.33,successful,618,US,21002.00,68587.33,60000.00,2
1837094178,¨Midgard's taigh-seinnse/ Eröffnung Mittelalte...,Restaurants,Food,CHF,2016-09-29,50000.00,2016-08-30 09:36:42,150.00,failed,1,CH,0.00,153.93,51310.47,2
2056123754,ZEIº - the most simple time tracking solution,Technology,Technology,EUR,2016-10-26,75000.00,2016-09-20 15:54:49,313637.00,successful,3140,AT,9451.58,342555.54,81915.29,2
2068157547,Ballet Folklorico Infantil de la Universidad ...,Art,Art,MXN,2017-04-03,40000.00,2017-03-22 16:33:33,42480.00,successful,38,MX,532.09,2263.79,2131.63,2
2096648634,Funky City : a funky rpg,Video Games,Games,USD,2017-04-08,5000.00,2017-03-09 04:05:15,0.00,failed,0,US,0.00,0.00,5000.00,2
2102265118,Music Album ¨Dreams¨ Uplifting Tunes with Rap,Hip-Hop,Music,EUR,2017-12-24,28000.00,2017-11-24 12:49:09,0.00,failed,0,NL,0.00,0.00,33580.39,4
237780030,Solderdoodle Pro: Over 700ºF USB Rechargeable ...,DIY Electronics,Technology,USD,2014-08-19,37800.00,2014-07-29 16:52:31,15636.00,failed,318,US,15636.00,15636.00,37800.00,2
383244441,Virtual Roller Coaster in 4th Dimension,Makerspaces,Technology,MXN,2017-02-25,459900.00,2017-02-01 00:07:38,0.00,failed,0,MX,0.00,0.00,23399.82,2
458626388,Solderdoodle Pro: 700ºF USB Rechargeable Solde...,DIY Electronics,Technology,USD,2014-09-24,11400.00,2014-08-19 16:55:05,22565.00,successful,409,US,22565.00,22565.00,11400.00,2
466898065,Manual Tea Maker Nº1,Product Design,Design,USD,2016-08-20,40000.00,2016-07-18 04:25:44,67767.00,successful,1111,US,5534.00,67767.00,40000.00,2
516833776,µTracker - extremly Power Saving GPS + GSM Board,Hardware,Technology,EUR,2016-12-09,89000.00,2016-11-18 09:13:12,2032.00,failed,22,AT,546.70,2145.59,93975.04,2
549309727,Higher Grounds Coffee Company Mobile Coffee Tr...,Food Trucks,Food,USD,2018-01-12,10000.00,2017-12-07 16:07:54,4882.00,live,36,US,542.00,4882.00,10000.00,2
551994337,?? cybertwee ?? ¨*:·. bake sale on the deep we...,Digital Art,Art,USD,2015-09-18,100.00,2015-09-14 04:14:05,347.00,successful,66,US,347.00,347.00,100.00,2
558638957,Mµ Magazine,Zines,Publishing,CAD,2016-12-02,5000.00,2016-11-01 23:37:22,0.00,failed,0,CA,0.00,0.00,3758.55,2
718763713,"Not Twins - New EP! ""The View from Down Here""",Indie Rock,Music,USD,2017-03-27,3500.00,2017-02-26 18:34:59,4726.61,successful,171,US,1758.41,4726.61,3500.00,2
805839986,µRuler - Measure size in the micro-world under...,Technology,Technology,CAD,2017-04-07,2000.00,2017-03-08 03:42:19,5523.00,successful,213,CA,623.34,4118.26,1491.31,2
900880068,Newton ¨El Veterano¨,Music,Music,EUR,2016-12-10,2747.00,2016-10-31 21:24:36,838.00,failed,36,ES,0.00,874.78,2867.58,4
960506632,Degreesº to Extinction,Documentary,Film & Video,USD,2016-12-21,30000.00,2016-12-06 00:26:54,30.00,failed,2,US,5.00,30.00,30000.00,2
963442008,theNewerYork Lit Mag: We M?§§ w/ Yoµr H£åd,Periodicals,Publishing,USD,2012-03-25,7000.00,2012-01-30 19:01:35,9892.49,successful,228,US,9892.49,9892.49,7000.00,2
98169605,µTøøl - The Ultimate pocket tool! Credit card ...,Technology,Technology,NZD,2016-01-01,20000.00,2015-12-02 06:04:57,2230.00,failed,83,NZ,1477.51,1472.34,13204.81,2

* Tenemos **26 valores raros** en la variable 'name' de la base de datos

In [51]:
# Chequeamos que no haya caracteres fuera de a-Z, 0-9 y _ en los nombres de las variables/columnas

kickstarter_2018.columns[~kickstarter_2018.columns.str.match(r'^(\w+)$')]

Index(['usd pledged'], dtype='object')

* Tenemos una columna en cuyo nombre hay un espacio vacío(usd pledged), 
* Este espacio en el nombre de la variable, no nos causará inconvenientes. por eso asignaremos un guión bajo "_"  donde hay un espacio vacío (usd_pledged).

In [52]:
# Reemplazamos el espacio vacío por un guión bajo

kickstarter_2018.columns = kickstarter_2018.columns.str.replace(' ', '_')
kickstarter_2018.head()

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real,name_weirdness
ID,,,,,,,,,,,,,,,
1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95,0
1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00,0
1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00,0
1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00,0
1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.00,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00,0

In [53]:
kickstarter_2018.usd_pledged.head()

ID
1000002330      0.00
1000003930    100.00
1000004038    220.00
1000007540      1.00
1000011046   1283.00
Name: usd_pledged, dtype: float64

### Ejercicio 3

* Comparar la cantidad de nombres raros en kickstarter_2018 con la que obtenemos al cargar 'ks-projects-201801.csv' con encoding iso-8859-1.

In [54]:
# Importamos la base de datos con encoding iso-8859-1

# kickstarter_2018 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201801.csv")

kickstarter_2018_iso_8859_1 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201801.csv", 
                                          encoding='iso-8859-1')

kickstarter_2018_iso_8859_1.columns[~kickstarter_2018_iso_8859_1.columns.str.match(r'^(\w+)$')]

Index(['usd pledged'], dtype='object')

In [55]:
# Buscamos valores raros en la columna 'name' de la base de datos con encoding iso-8859-1

def weird(val):
    if isinstance(val, float):
        return 0
    return bad.sequence_weirdness(val)

kickstarter_2018_iso_8859_1['name_weirdness'] = kickstarter_2018_iso_8859_1['name'].apply(weird)
kickstarter_2018_iso_8859_1[kickstarter_2018_iso_8859_1['name_weirdness'] > 1]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,name_weirdness
63,1000235643,HIIT Bottleâ¢,Drinks,Food,USD,2015-04-27,15000.00,2015-03-13 18:33:08,124998.00,successful,2784,US,124998.00,124998.00,15000.00,2
70,1000260691,Gizbeeâ¢ Unlimited Removable Storage for Your...,Gadgets,Technology,USD,2016-03-25,87000.00,2016-02-29 20:30:27,2030.00,canceled,15,US,2030.00,2030.00,87000.00,2
123,1000519001,Wordwright: reÂ·deÂ·finÂ·ing word play,Tabletop Games,Games,USD,2015-12-29,2000.00,2015-11-21 14:12:27,14794.00,successful,624,US,14794.00,14794.00,2000.00,6
157,1000644119,OperaciÃ³n Douve,Action,Film & Video,EUR,2016-05-01,100.00,2016-03-02 19:09:05,20.00,failed,2,ES,21.77,22.85,114.27,2
184,1000767040,Strait Jacket â Tangle Prevention For Headph...,Product Design,Design,USD,2016-11-23,30000.00,2016-10-24 03:35:51,1041.00,canceled,46,US,549.00,1041.00,30000.00,4
238,1001042227,Via ChicâOneClutchâ¢,Product Design,Design,USD,2015-08-14,75000.00,2015-06-30 03:47:54,1736.00,failed,21,US,1736.00,1736.00,75000.00,6
325,1001484182,Daweyu Hills â Crop to Cup,Drinks,Food,USD,2015-10-15,25000.00,2015-09-15 21:01:47,25816.00,successful,172,US,25816.00,25816.00,25000.00,4
326,1001490622,TimeChatâ¢ (Canceled),Apps,Technology,AUD,2014-10-24,33000.00,2014-09-23 21:05:58,1110.00,canceled,5,AU,991.48,976.08,29018.64,2
437,1002098978,Lux3 â Wellness Lamp,Product Design,Design,EUR,2016-05-05,150000.00,2016-03-21 17:23:46,491.00,failed,16,IT,553.34,561.07,171405.06,4
470,1002234028,Ã¦mp:dance / amiti perry + company,Dance,Dance,USD,2011-05-30,3500.00,2011-05-18 20:06:41,3520.00,successful,30,US,3520.00,3520.00,3500.00,2
472,1002250421,Spiele fÃ¼r iOS und Android / Games for Androi...,Mobile Games,Games,EUR,2015-06-24,2000.00,2015-06-03 17:12:38,1.00,canceled,1,DE,1.09,1.12,2240.39,2
477,1002287054,Michale Graves âVagabond Acousticâ Extreme...,Rock,Music,USD,2013-05-27,2500.00,2013-05-06 01:54:34,12413.00,successful,240,US,12413.00,12413.00,2500.00,8
526,1002522073,Lampenschirme und Objekte aus franzÃ¶sischer H...,Embroidery,Crafts,EUR,2016-12-31,3500.00,2016-12-01 20:39:18,31.00,failed,2,AT,0.00,32.83,3706.14,2
627,100301082,"Feliz aÃ±o nuevo, mamÃ¡.",Theater,Theater,MXN,2018-02-04,49000.00,2017-12-06 03:36:06,1000.00,live,2,MX,53.52,52.32,2563.83,3
646,1003127225,AcneDustâ¢ Organic Acne Treatment -Acne Dust ...,Fashion,Fashion,USD,2016-06-18,45000.00,2016-05-04 00:05:51,284.00,failed,18,US,284.00,284.00,45000.00,2
664,1003240719,Boutique Disco Flash QuÃ©bec,Music,Music,CAD,2015-06-24,425000.00,2015-04-29 17:32:40,1.00,failed,1,CA,0.83,0.81,343712.09,2
703,1003456090,Academia de MÃºsica impulsarte.org,Music,Music,MXN,2017-04-22,70000.00,2017-03-23 19:03:01,10.00,failed,1,MX,0.00,0.53,3687.32,4
733,1003538517,Pollock lâacchiappa-panzane,Video,Journalism,EUR,2015-08-01,10000.00,2015-06-30 08:04:34,11516.99,successful,228,IT,12682.18,12600.78,10941.04,4
739,1003561611,Vyu360â¢ 4K ProCam,Camera Equipment,Technology,USD,2016-11-15,9000.00,2016-10-13 22:24:27,30126.00,successful,164,US,3035.00,30126.00,9000.00,2
846,100413062,Coreyâs Coffee Bar,Food,Food,USD,2013-02-22,6000.00,2013-01-23 20:31:25,10.00,failed,1,US,10.00,10.00,6000.00,4
918,1004598691,Jakten pÃ¥ makten - BrÃ¤dspelet om svensk poli...,Tabletop Games,Games,SEK,2016-07-19,50000.00,2016-06-19 10:23:56,10327.00,failed,26,SE,740.99,1197.54,5798.11,4
964,1004866875,Original paintings from Â£10,Painting,Art,GBP,2015-07-29,500.00,2015-06-29 12:12:07,92.00,failed,4,GB,144.88,143.30,778.79,2
1024,1005175741,UNCLE SAMta â FINAL HOURS,Animation,Film & Video,USD,2014-07-05,100000.00,2014-06-09 15:27:17,25877.00,failed,118,US,25877.00,25877.00,100000.00,4
1136,100576591,Nina Jo Smithâs PEOPLE PLACES & SINGS CD,Country & Folk,Music,USD,2012-03-16,3500.00,2012-02-15 21:32:21,3500.00,successful,51,US,3500.00,3500.00,3500.00,4
1165,1005925256,The GoShelfâ¢ - corner shelf self installatio...,Product Design,Design,USD,2015-08-08,50000.00,2015-07-09 17:53:48,0.00,failed,0,US,0.00,0.00,50000.00,2
1184,1005999335,wecemat â The ecologic automated flush adapter,Technology,Technology,EUR,2016-07-23,40000.00,2016-06-23 14:07:08,7750.00,failed,26,LU,8235.00,8612.55,44451.85,4
1343,1006885357,Escape from Alcatraz â A New Mystery Rummy Game,Tabletop Games,Games,USD,2014-07-04,10000.00,2014-06-06 23:24:48,13574.00,successful,359,US,13574.00,13574.00,10000.00,4
1368,1007021695,BroschÃ¼re Maultiermuseum Schweiz,Letterpress,Crafts,CHF,2015-12-15,6500.00,2015-10-16 17:52:50,560.00,failed,10,CH,589.34,563.54,6541.08,2
1374,1007043144,FLEXXBALLâ¢ - The Playful Sculpture,Product Design,Design,USD,2017-03-31,4800.00,2017-03-01 18:43:55,1691.00,canceled,21,US,777.00,1691.00,4800.00,2
1404,1007170928,"A travÃ©s del arte "" Identidad y BÃ­odiversida...",Painting,Art,MXN,2017-02-23,200000.00,2016-12-26 23:17:54,150.00,failed,1,MX,0.00,7.62,10155.38,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377458,994028313,Fautus â¢ We are the UBER of photography âw...,Photography,Photography,USD,2017-10-12,25000.00,2017-09-12 22:55:25,1264.00,canceled,5,US,532.00,1264.00,25000.00,6
377525,994394262,The Handle Wonder Coverâ¢,Product Design,Design,USD,2014-12-13,3500.00,2014-11-13 16:00:34,15.00,failed,2,US,15.00,15.00,3500.00,2
377648,994971049,Brookdale Community College Baseball Fundraise...,Live Games,Games,USD,2015-11-25,15000.00,2015-10-26 17:49:13,0.00,canceled,0,US,0.00,0.00,15000.00,4
377714,995318657,StÃ¶tta Vandringsbloggen Community,Publishing,Publishing,SEK,2016-12-31,30000.00,2016-11-20 00:14:36,100.00,canceled,2,SE,10.81,11.09,3325.87,2
377720,99535653,BITE-SIZED CHINESE â CHARACTER COLORING BOOK...,Children's Books,Publishing,HKD,2017-11-09,8000.00,2017-10-10 19:02:34,5061.00,failed,15,HK,0.00,648.64,1025.31,4
377834,995932608,"Solenoidâ¢ micro-compact, high fidelity speak...",Technology,Technology,USD,2013-05-22,99000.00,2013-04-22 11:56:15,12128.00,failed,106,US,12128.00,12128.00,99000.00,2
377867,996085230,SQUAREMINOâ¢ - The Square Domino Tabletop Boa...,Tabletop Games,Games,USD,2016-07-15,500.00,2016-06-13 05:20:54,1677.00,successful,56,US,1117.00,1677.00,500.00,2
377920,996430564,Best Leggings Ever! â Unique Fabric / Styli...,Apparel,Fashion,USD,2015-02-20,14000.00,2015-01-21 20:58:20,2853.00,failed,29,US,2853.00,2853.00,14000.00,4
377935,996498361,All Season Sweatsâ¢ - A New Type of Sweat Pant,Apparel,Fashion,CAD,2014-12-03,15000.00,2014-10-29 01:20:57,25835.00,successful,290,CA,23018.19,22674.21,13164.82,2
377936,996506334,Clean Apparel â The Most Sustainable T-Shirt...,Apparel,Fashion,USD,2016-06-11,20000.00,2016-04-18 11:53:46,13124.00,failed,233,US,13124.00,13124.00,20000.00,4
377939,996519443,HIDEBOUNDâworld premiere puppet performances...,Theater,Theater,USD,2012-10-27,5000.00,2012-09-27 18:44:35,5139.00,successful,78,US,5139.00,5139.00,5000.00,4
378050,997083412,Train: The Early Years. A photographerâs ins...,Photography,Photography,USD,2013-02-01,2200.00,2013-01-11 22:56:37,245.00,failed,3,US,245.00,245.00,2200.00,4
378053,997102132,BÃD Brand.,Fashion,Fashion,USD,2015-08-20,1000.00,2015-07-21 20:46:59,0.00,failed,0,US,0.00,0.00,1000.00,4
378095,997340463,QRawr â Comments for real walls,Technology,Technology,USD,2012-02-01,7500.00,2012-01-03 20:07:44,791.00,failed,29,US,791.00,791.00,7500.00,4
378096,997343329,Drakonheim: City of Bones â A Systemless RPG...,Tabletop Games,Games,USD,2015-07-17,500.00,2015-07-07 14:15:06,3010.00,successful,185,US,3010.00,3010.00,500.00,4
378113,997425910,Zulu landâs Rhino Warriors TV docu-series,Documentary,Film & Video,USD,2015-10-21,20000.00,2015-09-21 21:17:32,0.00,failed,0,US,0.00,0.00,20000.00,4
378126,997481500,Sound Coverâ¢: iPad2 Cover with Powerful Buil...,Product Design,Design,USD,2012-01-30,35000.00,2011-12-11 06:11:30,6669.00,canceled,42,US,6669.00,6669.00,35000.00,2
378175,997720090,high fashion royal hubb bÃ©bÃ© air,Apparel,Fashion,USD,2017-04-02,17000.00,2017-02-01 01:54:07,0.00,canceled,0,US,0.00,0.00,17000.00,2
378285,99825633,Battle Systemsâ¢ Fantasy Dungeon Terrain,Tabletop Games,Games,GBP,2014-09-21,21000.00,2014-08-22 21:00:15,198415.01,successful,1204,GB,328968.44,323583.63,34247.69,2
378317,998378475,[title of show] â The Chicago Storefront Pre...,Musical,Theater,USD,2015-04-01,5000.00,2015-03-02 19:00:26,5000.00,successful,77,US,5000.00,5000.00,5000.00,4
378322,998401361,Support Tiffany MonÃ¬que's New Video & Single!...,Music,Music,USD,2011-06-25,20000.00,2011-04-25 18:50:30,1476.00,canceled,27,US,1476.00,1476.00,20000.00,2
378329,998418451,Miami en vidÃ©o,Documentary,Film & Video,EUR,2015-10-25,400.00,2015-09-25 04:11:49,0.00,failed,0,FR,0.00,0.00,440.68,2
378490,999133026,KuÃ±a: documental sobre la mujer paraguaya,Documentary,Film & Video,USD,2016-08-14,10000.00,2016-07-13 01:58:44,10588.00,successful,181,US,350.00,10588.00,10000.00,2
378519,999252505,Contra LÃ¼genpresse: Internet Nachrichtenmagazin,Web,Journalism,EUR,2016-02-09,100000.00,2016-01-10 22:21:57,1.00,failed,1,DE,1.09,1.13,112749.74,2
378521,9992603,NUJU -diseÃ±o en madera/design in wood-,Design,Design,MXN,2017-01-14,100000.00,2016-11-30 23:20:13,120120.00,successful,121,MX,2774.10,5464.72,4549.38,2
378522,999270657,"Cotopaxi ConnectâCustom Gear, Co-Designed",Product Design,Design,USD,2017-01-19,25000.00,2016-11-20 08:00:35,6477.00,canceled,124,US,1505.00,6477.00,25000.00,4
378568,999501752,SmartnannyÂ®. The worldâs first smart nanny.,Technology,Technology,EUR,2015-07-28,400000.00,2015-06-23 15:01:09,1444.00,failed,15,DE,1642.89,1583.63,438678.26,3
378579,999567575,l'arbalÃ¨te (surface lift ski),Fashion,Fashion,CHF,2015-12-04,10000.00,2015-11-04 08:50:21,0.00,failed,0,CH,0.00,0.00,10018.33,4
378612,999754150,31â¢13: Thesis Exhibition,Mixed Media,Art,USD,2013-03-20,8000.00,2013-02-18 18:46:29,8935.00,successful,121,US,8935.00,8935.00,8000.00,2
378642,999929142,ÃPOUVANTAILS : 28mm Figurines de jeux pour KI...,Tabletop Games,Games,EUR,2017-10-31,1000.00,2017-10-04 11:26:44,1246.00,successful,35,FR,66.72,1452.47,1165.70,4

* Tenemos **26 valores raros** en la base de datos sin setear el encoding
* Tenemos **7682 valores raros** en la base de datos con encoding iso_8859_1

## 2.2. Tratar valores faltantes

* Veremos cuantos valores nulos tenemos

In [56]:
# Obtenemos el número de valores faltantes por columna 

missing_values_count = kickstarter_2018.isnull().sum()

# look at the # of missing points in the first ten columns

missing_values_count[missing_values_count > 0]

name              4
usd_pledged    3797
dtype: int64

* Tnemos 4 filas que no tienen nombre
* Tenemos 3797 filas sin valor en la columna usd_pledged

In [57]:
# Calculamos el impacto en términos relativos que tienen los valores nulos de nuesta base de datos

len(kickstarter_2018.dropna())/len(kickstarter_2018)

0.9899619976707398

In [58]:
# Calculamos en impacto en términos relativos que tienen los valores nulos de la columna 'name'

len(kickstarter_2018.dropna(subset=['name']))/len(kickstarter_2018)

0.9999894364616372

**Tener en cuenta:**   
* Descartar datos siempre es la ultima opcion.
* Si los datos nulos son muy pocos y consideramos que no afectan en el análisis, en ese caso los podemos quitar.

In [59]:
# Calculamos que significan en términos de representatividad e importancia de nuestro análisis, 
# esos valores nulos

kickstarter_2018[kickstarter_2018.name.isnull()]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real,name_weirdness
ID,,,,,,,,,,,,,,,
1848699072,NaN,Narrative Film,Film & Video,USD,2012-02-29,200000.00,2012-01-01 12:35:31,100.00,failed,1,US,100.00,100.00,200000.00,0
634871725,NaN,Video Games,Games,GBP,2013-01-06,2000.00,2012-12-19 23:57:48,196.00,failed,12,GB,317.73,316.05,3224.97,0
648853978,NaN,Product Design,Design,USD,2016-07-18,2500.00,2016-06-18 05:01:47,0.00,suspended,0,US,0.00,0.00,2500.00,0
796533179,NaN,Painting,Art,USD,2011-12-05,35000.00,2011-11-06 23:55:55,220.00,failed,5,US,220.00,220.00,35000.00,0

* **Ejemplo**, cuantos de los proyectos suspendidos no tienen nombre

In [60]:
len(kickstarter_2018[kickstarter_2018.state == 'suspended'].dropna(subset=['name'])) / \
    len(kickstarter_2018[kickstarter_2018.state == 'suspended'])

0.9994582881906826

* Solamente tenemos 4 registros sin nombre.
* En este caso, creemos que es seguro descartar los proyectos sin nombre ya que son muy pocos.

In [61]:
# Limpiamos de la base de datos los 4 resgistros con valores nulos en la variable 'name'

kickstarter_2018 = kickstarter_2018.dropna(subset=['name'])

In [62]:
# Ahora estudiaremos los datos nulos de la columna usd_pledged (3797)

kickstarter_2018[kickstarter_2018.usd_pledged.isnull()]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real,name_weirdness
ID,,,,,,,,,,,,,,,
1000694855,STREETFIGHTERZ WHEELIE MURICA,Film & Video,Film & Video,USD,2014-09-20,6500.00,2014-08-06 21:28:36,555.00,undefined,0,"N,0""",nan,555.00,6500.00,0
100149523,Duncan Woods - Chameleon EP,Music,Music,AUD,2015-08-25,4500.00,2015-08-04 12:05:17,4767.00,undefined,0,"N,0""",nan,3402.08,3211.53,0
1003023003,The Making of Ashley Kelley's Debut Album,Music,Music,USD,2015-04-09,3500.00,2015-03-10 20:06:13,3576.00,undefined,0,"N,0""",nan,3576.00,3500.00,0
1003130892,Butter Side Down Debut Album,Music,Music,USD,2015-11-26,6000.00,2015-11-02 22:09:19,7007.80,undefined,0,"N,0""",nan,7007.80,6000.00,0
1003629045,Chase Goehring debut EP,Music,Music,USD,2016-03-21,3000.00,2016-02-23 03:09:49,3660.38,undefined,0,"N,0""",nan,3660.38,3000.00,0
1004013077,Spencer Capier Instrumental Project 2015,Music,Music,CAD,2014-10-10,4000.00,2014-09-10 22:51:01,4760.00,undefined,0,"N,0""",nan,4251.14,3572.39,0
1004126342,LUKAS LIGETI'S 50TH BIRTHDAY FESTIVAL: ORIGINA...,Music,Music,USD,2015-06-11,5000.00,2015-05-15 02:12:35,6370.00,undefined,0,"N,0""",nan,6370.00,5000.00,0
1004255433,The Battle For Breukelen: A Neighborhood Epic,Film & Video,Film & Video,USD,2015-11-07,6000.00,2015-10-10 18:45:24,6695.00,undefined,0,"N,0""",nan,6695.00,6000.00,0
1004298993,"""Tamboura Plays Violin"" - a collection of Pop ...",Music,Music,USD,2015-03-28,2750.00,2015-02-11 19:28:27,2926.00,undefined,0,"N,0""",nan,2926.00,2750.00,0
1004402863,Nightingale Noel - An A Cappella Holiday CD,Music,Music,USD,2015-12-11,1200.00,2015-11-11 21:02:55,1585.00,undefined,0,"N,0""",nan,1585.00,1200.00,0
1005185256,Local Music Connection,Music,Music,USD,2015-12-18,1500.00,2015-11-18 21:50:04,69.00,undefined,0,"N,0""",nan,69.00,1500.00,0
100522240,DO NOT DUPLICATE - Selected by 2015 Devon Film...,Film & Video,Film & Video,GBP,2015-04-10,1500.00,2015-03-11 22:07:00,277.00,undefined,0,"N,0""",nan,404.18,2188.69,0
1005653464,SA-4 Studios,Music,Music,USD,2015-03-25,5000.00,2015-01-24 18:33:14,0.00,undefined,0,"N,0""",nan,0.00,5000.00,0
1006327667,Letters to the Wild - EP,Music,Music,USD,2014-10-31,2000.00,2014-10-02 22:48:31,2560.00,undefined,0,"N,0""",nan,2560.00,2000.00,0
1008671527,The Fitness Mindset :-),Publishing,Publishing,EUR,2015-11-17,8000.00,2015-10-13 15:45:38,30.00,undefined,0,"N,0""",nan,32.06,8550.39,0
1008675685,Inspired & the Sleep EP - Eyelid Kid,Music,Music,USD,2015-10-30,2000.00,2015-10-04 21:48:11,2079.00,undefined,0,"N,0""",nan,2079.00,2000.00,0
1008815806,Into Winter: An Instrumental Christmas Experiment,Music,Music,USD,2014-10-11,2000.00,2014-09-10 23:23:40,2085.00,undefined,0,"N,0""",nan,2085.00,2000.00,0
1009154868,Help advance scientific guitar & bass design,Music,Music,USD,2016-03-12,5000.00,2016-02-11 01:42:44,121.00,undefined,0,"N,0""",nan,121.00,5000.00,0
1009312309,Mr. Pickles,Publishing,Publishing,USD,2015-05-01,3750.00,2015-04-01 16:36:51,230.00,undefined,0,"N,0""",nan,230.00,3750.00,0
1009774693,Universal Peace | Universal Justice,Music,Music,USD,2014-09-06,2500.00,2014-07-29 23:01:07,2720.00,undefined,0,"N,0""",nan,2720.00,2500.00,0
1010217550,Solarboot-Havel-Tour,Music,Music,EUR,2015-05-31,2500.00,2015-05-14 23:05:51,2620.00,undefined,0,"N,0""",nan,2939.13,2804.51,0
1010694326,Surrender,Music,Music,CAD,2015-01-30,5000.00,2014-12-29 01:27:30,5197.00,undefined,0,"N,0""",nan,4101.82,3946.33,0
1011508551,EBENEZER Solo Record,Music,Music,USD,2015-05-30,8000.00,2015-04-20 17:33:24,8361.00,undefined,0,"N,0""",nan,8361.00,8000.00,0
1011952280,NHSOB Summer Festival 2015,Music,Music,GBP,2015-05-15,3000.00,2015-03-31 17:21:17,34.00,undefined,0,"N,0""",nan,53.41,4712.83,0
1012058337,Degobah Max,Music,Music,USD,2015-12-05,4500.00,2015-11-06 21:55:39,0.00,undefined,0,"N,0""",nan,0.00,4500.00,0
1012414277,WE ARE WHO WE ARE BUT WHATEVER WE WANT TO BE!!!,Music,Music,USD,2015-08-31,3000.00,2015-07-13 17:09:24,0.00,undefined,0,"N,0""",nan,0.00,3000.00,0
1012704793,Life In The Bus Lane,Film & Video,Film & Video,USD,2014-12-21,7500.00,2014-11-21 05:09:09,9329.00,undefined,0,"N,0""",nan,9329.00,7500.00,0
1012744036,An Oratorio for our Time - Last Stop Cafe,Music,Music,USD,2016-05-26,5000.00,2016-04-26 19:46:26,5170.00,successful,0,"N,0""",nan,5170.00,5000.00,0
1012807897,Juliet Remembered,Film & Video,Film & Video,GBP,2016-02-06,6500.00,2016-01-07 13:44:33,6660.12,undefined,0,"N,0""",nan,9660.05,9427.80,0
1013389538,Make admission to the London Music Awards cere...,Music,Music,CAD,2015-06-09,3500.00,2015-05-10 15:22:18,207.00,undefined,0,"N,0""",nan,168.25,2844.83,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982862687,Bydlo - A Novel,Publishing,Publishing,GBP,2015-06-01,3000.00,2015-04-02 12:51:16,0.00,undefined,0,"N,0""",nan,0.00,4599.39,0
982919439,Faith,Film & Video,Film & Video,USD,2016-05-06,9000.00,2016-03-07 04:17:33,2.00,failed,0,"N,0""",nan,2.00,9000.00,0
983728691,The Octopodes' 5th Studio Album!,Music,Music,USD,2016-01-05,8000.00,2015-11-19 23:43:09,8025.00,undefined,0,"N,0""",nan,8025.00,8000.00,0
985231591,TWO FISH,Film & Video,Film & Video,USD,2014-05-17,8000.00,2014-04-21 21:52:55,8562.00,undefined,0,"N,0""",nan,8562.00,8000.00,0
986253191,"DEVELOP MAGAZINE FOR THE ARTS, MUSIC, AND DESI...",Publishing,Publishing,USD,2015-02-28,5000.00,2015-01-29 17:43:13,0.00,undefined,0,"N,0""",nan,0.00,5000.00,0
986471034,"Help Revival finish their new album, Guidance.",Music,Music,USD,2015-05-02,2500.00,2015-04-03 11:16:00,420.00,undefined,0,"N,0""",nan,420.00,2500.00,0
98744618,Vinyl for Dancing Pigeons!,Music,Music,SEK,2016-04-16,33000.00,2016-03-17 13:42:54,1105.00,undefined,0,"N,0""",nan,136.19,4067.35,0
988763792,Maud Sings Maud: A Musical Betsy-Tacy Companion,Music,Music,USD,2015-12-03,6500.00,2015-10-04 00:55:19,7814.00,undefined,0,"N,0""",nan,7814.00,6500.00,0
989218116,Keep on Movin' - The Debut Album,Music,Music,GBP,2014-11-19,1300.00,2014-10-22 22:22:14,2.00,undefined,0,"N,0""",nan,3.14,2038.70,0
989499289,Sojourner,Music,Music,USD,2016-04-11,2500.00,2016-03-12 23:22:51,80.00,undefined,0,"N,0""",nan,80.00,2500.00,0
989874415,Love and Soul through Sound,Music,Music,USD,2015-06-27,3000.00,2015-05-28 17:17:08,45.00,undefined,0,"N,0""",nan,45.00,3000.00,0
991409513,Chris Copeland's First EP,Music,Music,USD,2015-02-28,5500.00,2015-01-29 02:58:24,5763.00,undefined,0,"N,0""",nan,5763.00,5500.00,0
991483230,Support Vocal Synergy's Second Semester and Te...,Music,Music,USD,2015-12-20,3400.00,2015-12-05 05:10:10,3435.00,undefined,0,"N,0""",nan,3435.00,3400.00,0
991820324,The Blend CD 2015,Music,Music,USD,2015-05-15,8000.00,2015-04-15 00:07:51,8156.00,undefined,0,"N,0""",nan,8156.00,8000.00,0
992433603,Jonny Come Lately,Film & Video,Film & Video,USD,2014-12-24,8500.00,2014-11-24 20:47:45,9146.00,undefined,0,"N,0""",nan,9146.00,8500.00,0
994080962,Maximum Coppage,Film & Video,Film & Video,USD,2014-08-19,3000.00,2014-07-18 03:42:11,3175.00,undefined,0,"N,0""",nan,3175.00,3000.00,0
994621918,Star Sailor,Film & Video,Film & Video,USD,2016-01-01,8000.00,2015-12-03 20:25:41,8061.00,undefined,0,"N,0""",nan,8061.00,8000.00,0
994911312,"""Songwriter assistance"" service",Music,Music,CAD,2014-12-22,5000.00,2014-11-22 00:56:04,0.00,undefined,0,"N,0""",nan,0.00,4313.32,0
994933706,Whiskey and Holy Water,Music,Music,USD,2015-05-11,6500.00,2015-03-25 03:55:53,6696.00,undefined,0,"N,0""",nan,6696.00,6500.00,0
99613274,Double EP and Music Video Fundraiser,Music,Music,GBP,2015-12-02,3000.00,2015-11-02 09:33:38,3517.00,undefined,0,"N,0""",nan,5324.59,4541.88,0
996908566,The World Needs More Big Thinkers,Publishing,Publishing,USD,2015-09-13,8000.00,2015-07-30 03:01:31,0.00,undefined,0,"N,0""",nan,0.00,8000.00,0
99739483,No More Fear,Music,Music,GBP,2016-04-17,2500.00,2016-03-17 13:43:26,2500.00,undefined,0,"N,0""",nan,3594.48,3594.48,0
997554968,Susan Picking: Making Music with Kids in the S...,Music,Music,USD,2015-03-01,8000.00,2015-01-31 20:58:01,8582.00,undefined,0,"N,0""",nan,8582.00,8000.00,0
997793413,Whisper Violet - Honors Senior Thesis Film,Film & Video,Film & Video,USD,2016-05-14,2000.00,2016-04-14 01:27:27,2300.00,successful,0,"N,0""",nan,2300.00,2000.00,0
997915422,Otter's First Full Length Album,Music,Music,USD,2015-12-31,5000.00,2015-12-01 00:25:06,6065.26,undefined,0,"N,0""",nan,6065.26,5000.00,0
997971307,"EQUUS International Film Festival®, all-equine...",Film & Video,Film & Video,USD,2015-02-03,7500.00,2014-12-05 04:19:14,10.00,undefined,0,"N,0""",nan,10.00,7500.00,-1
998319149,Emily 2050 - Short Film,Film & Video,Film & Video,CAD,2014-05-23,3000.00,2014-04-08 00:30:09,3102.00,undefined,0,"N,0""",nan,2845.61,2752.04,0
9988744,Matthew Stephens Music,Music,Music,USD,2016-02-05,5000.00,2016-01-06 21:59:23,235.00,undefined,0,"N,0""",nan,235.00,5000.00,0
999610349,Lady Vendredi: Afrofuturist concept 12 inch EP,Music,Music,GBP,2015-10-19,2000.00,2015-09-21 22:33:18,2125.00,undefined,0,"N,0""",nan,3273.36,3080.81,0
999621278,Jeune auteur a besoin de vous!,Publishing,Publishing,EUR,2015-11-20,1600.00,2015-10-21 21:28:13,0.00,undefined,0,"N,0""",nan,0.00,1710.08,0

In [63]:
# pedimos los estadísticos descriptivos de esta variable (usd_pledged)

kickstarter_2018[kickstarter_2018.usd_pledged.isnull()].describe(include='all')

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real,name_weirdness
count,3797,3797,3797,3797,3797,3797.00,3797,3797.00,3797,3797.00,3797,0.00,3797.00,3797.00,3797.00
unique,3764,28,12,10,722,nan,3797,nan,6,nan,1,nan,nan,nan,nan
top,New EP/Music Development,Music,Music,USD,2015-05-01 00:00:00,nan,2015-10-27 17:00:11,nan,undefined,nan,"N,0""",nan,nan,nan,nan
freq,28,2387,2388,2738,26,nan,1,nan,3562,nan,3797,nan,nan,nan,nan
first,NaN,NaN,NaN,NaN,2012-04-24 00:00:00,nan,2012-03-14 19:05:44,nan,NaN,nan,NaN,nan,nan,nan,nan
last,NaN,NaN,NaN,NaN,2016-07-07 00:00:00,nan,2016-05-21 20:45:12,nan,NaN,nan,NaN,nan,nan,nan,nan
mean,NaN,NaN,NaN,NaN,NaN,5413.35,NaN,3023.26,NaN,0.00,NaN,nan,2949.85,5097.31,-0.01
std,NaN,NaN,NaN,NaN,NaN,37466.24,NaN,44919.41,NaN,0.00,NaN,nan,44881.72,37258.79,0.12
min,NaN,NaN,NaN,NaN,NaN,108.00,NaN,0.00,NaN,0.00,NaN,nan,0.00,85.28,-3.00
25%,NaN,NaN,NaN,NaN,NaN,2000.00,NaN,5.00,NaN,0.00,NaN,nan,5.00,2250.00,0.00
50%,NaN,NaN,NaN,NaN,NaN,3500.00,NaN,640.00,NaN,0.00,NaN,nan,616.00,3583.05,0.00
75%,NaN,NaN,NaN,NaN,NaN,5000.00,NaN,3845.00,NaN,0.00,NaN,nan,3932.23,5208.09,0.00
max,NaN,NaN,NaN,NaN,NaN,1877000.00,NaN,2762571.78,NaN,0.00,NaN,nan,2762571.78,1877000.00,0.00

**Interesante**,    
* Todos los datos pertenecen a un país indeterminado.
* Todos los datos de ese "país" no tienen dinero prometido.

In [64]:
kickstarter_2018[(kickstarter_2018.country == 'N,0"') & ~(kickstarter_2018.usd_pledged.isnull())].head()

Empty DataFrame
Columns: [name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd_pledged, usd_pledged_real, usd_goal_real, name_weirdness]
Index: []

* A priori como los proyectos no tienen patrocinantes, completamos con 0 los valores faltantes

In [65]:
# Completamos con 0 los valores faltantes

kickstarter_2018 = kickstarter_2018.fillna(0)
missing_values_count = kickstarter_2018.isnull().sum()
missing_values_count[missing_values_count > 0]

Series([], dtype: int64)

In [66]:
# Vemos con cuantos datos finales nos quedamos en el dataset luego del filtrado (378657)

kickstarter_2018.shape

(378657, 15)

* **Más métodos disponibles en:** https://pandas.pydata.org/pandas-docs/stable/api.html#api-dataframe-missing y http://scikit-learn.org/stable/modules/classes.html#module-sklearn.preprocessing

## 2.3. Codificar variables

* Para trabajar con los algoritmos de aprendizaje automático, las **variables categóricas**  deben ser codificadas como **variables numéricas**, no como cadenas.

* Para esta tarea también hay diferentes estrategias, dos comunes son: 
* * asociar cadena a número,
* * asociar cadena a columna.

In [67]:
import sklearn
from sklearn import preprocessing

In [68]:
# Pedimos una descripción del tipo de variables

kickstarter_2018.describe(include=['O'])

,name,category,main_category,currency,state,country
count,378657,378657,378657,378657,378657,378657
unique,375764,159,15,14,6,23
top,New EP/Music Development,Product Design,Film & Video,USD,failed,US
freq,41,22313,63584,295362,197716,292624

In [69]:
column='main_category'

# Create a label (category) encoder object
le = preprocessing.LabelEncoder()

# Fit the encoder to the pandas column
le.fit(kickstarter_2018[column])

LabelEncoder()

In [70]:
# View encoder mapping
dict(zip(le.classes_,le.transform(le.classes_)))

{'Art': 0,
 'Comics': 1,
 'Crafts': 2,
 'Dance': 3,
 'Design': 4,
 'Fashion': 5,
 'Film & Video': 6,
 'Food': 7,
 'Games': 8,
 'Journalism': 9,
 'Music': 10,
 'Photography': 11,
 'Publishing': 12,
 'Technology': 13,
 'Theater': 14}

In [71]:
# Apply the fitted encoder to the pandas column
kickstarter_2018[column] = le.transform(kickstarter_2018[column]) 
kickstarter_2018.head()

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real,name_weirdness
ID,,,,,,,,,,,,,,,
1000002330,The Songs of Adelaide & Abullah,Poetry,12,GBP,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95,0
1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,6,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00,0
1000004038,Where is Hank?,Narrative Film,6,USD,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00,0
1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,10,USD,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00,0
1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,6,USD,2015-08-29,19500.00,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00,0

In [72]:
# Reversing encoding
kickstarter_2018[column] = le.inverse_transform(kickstarter_2018[column]) 
kickstarter_2018.head()

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real,name_weirdness
ID,,,,,,,,,,,,,,,
1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95,0
1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00,0
1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00,0
1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00,0
1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.00,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00,0

In [73]:
from sklearn.preprocessing import LabelBinarizer
other_column = 'state'

lb = LabelBinarizer()

lb_results = lb.fit_transform(kickstarter_2018[other_column])
pd.DataFrame(lb_results, columns=((other_column + '_') + pd.Series(lb.classes_))).head(10)

,state_canceled,state_failed,state_live,state_successful,state_suspended,state_undefined
0,0,1,0,0,0,0
1,0,1,0,0,0,0
2,0,1,0,0,0,0
3,0,1,0,0,0,0
4,1,0,0,0,0,0
5,0,0,0,1,0,0
6,0,0,0,1,0,0
7,0,1,0,0,0,0
8,1,0,0,0,0,0
9,1,0,0,0,0,0

* More about **preprocessing** in: http://scikit-learn.org/stable/modules/classes.html#module-sklearn.preprocessing

#### Ejercicio 4

Codificar `currency` con ambas estrategias

## 2.4. No cambiar los nombres de las variables de la fuente de origen

## 2.5. Verificar la consistencia de las variables
Aplicar reglas de integridad

In [74]:
kickstarter_2018.head()

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real,name_weirdness
ID,,,,,,,,,,,,,,,
1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95,0
1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00,0
1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00,0
1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00,0
1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.00,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00,0

**Podemos hacernos preguntas para verificar hipótesis:**

**1)** ¿Hay proyectos sin patrocinadores pero con plata prometida?

In [75]:
kickstarter_2018[(kickstarter_2018.backers == 0) & (kickstarter_2018.usd_pledged > 0)]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real,name_weirdness
ID,,,,,,,,,,,,,,,
100173829,La Press: Make Soap at Home in 2 minutes. No C...,Gadgets,Technology,CAD,2017-11-11,40000.00,2017-09-12 05:11:01,0.00,failed,0,CA,86.46,0.00,31343.05,0
1004972393,AlwaysRemembered.com The new way to remember o...,Web,Technology,AUD,2017-05-15,100000.00,2017-04-15 09:17:40,0.00,failed,0,AU,18.93,0.00,74371.56,0
1006945199,Have your Cake and Eat it too!,Food,Food,USD,2016-12-05,10000.00,2016-11-05 20:16:29,0.00,canceled,0,US,24.00,0.00,10000.00,0
1019661678,Presidential Pareidolia,Digital Art,Art,USD,2017-05-14,66600.00,2017-04-14 23:13:10,0.00,failed,0,US,25.00,0.00,66600.00,0
1031663961,The Lite Bros. Series,Comics,Comics,USD,2017-05-09,10000.00,2017-04-09 02:20:51,0.00,failed,0,US,25.00,0.00,10000.00,0
1037887032,The Undergraduate Scholarship Quarterly,Periodicals,Publishing,USD,2017-05-04,10000.00,2017-04-19 19:13:55,0.00,failed,0,US,25.00,0.00,10000.00,0
1039895327,iSchool,Technology,Technology,EUR,2017-07-01,20000.00,2017-06-01 14:45:27,0.00,failed,0,IT,223.54,0.00,22824.02,0
1039940191,XAM?N: 100% AGAVE,Drinks,Food,USD,2016-08-15,20000.00,2016-07-06 06:48:29,0.00,failed,0,US,145.00,0.00,20000.00,0
104562843,Royalty-Free Trap Music Videos,Electronic Music,Music,USD,2017-01-28,3000.00,2016-11-29 05:18:04,0.00,canceled,0,US,3.00,0.00,3000.00,0
1050338924,Families Who Eat Together Stay Together!,Food,Food,GBP,2017-05-15,12000.00,2017-04-15 14:09:17,0.00,failed,0,GB,31.27,0.00,15615.24,0
1051154899,Undocumented: Funds for publishing of my ficti...,Fiction,Publishing,USD,2017-08-12,1000.00,2017-07-13 16:32:09,0.00,failed,0,US,40.00,0.00,1000.00,0
1051720010,Peperless Future,Apps,Technology,USD,2016-12-10,3700.00,2016-11-10 19:58:07,0.00,failed,0,US,1.00,0.00,3700.00,0
1052301248,Blood Ash,Fiction,Publishing,USD,2017-05-21,1400.00,2017-04-21 20:48:27,0.00,failed,0,US,10.00,0.00,1400.00,0
1064127689,Courage to Conquer Web Series,Webseries,Film & Video,USD,2017-02-02,15000.00,2016-12-30 07:44:38,0.00,failed,0,US,100.00,0.00,15000.00,0
107462950,Help @Vita to record an album to come back his...,Comedy,Music,USD,2017-02-18,1.00,2017-01-19 20:11:37,0.00,failed,0,US,20.00,0.00,1.00,0
1088207503,OWR Roots. Arts. Culture Festival 2017,Festivals,Theater,USD,2017-07-12,7000.00,2017-06-12 18:20:40,0.00,failed,0,US,50.00,0.00,7000.00,0
1097673976,Cheering from Italy,Documentary,Film & Video,EUR,2017-05-26,4000.00,2017-03-27 18:28:55,0.00,failed,0,IT,27.01,0.00,4478.38,0
1097782445,Paws2People,Apps,Technology,USD,2017-12-08,80000.00,2017-10-24 00:28:14,0.00,failed,0,US,25.00,0.00,80000.00,0
1097822147,"""PIÉNSALO 2 VECES""",Plays,Theater,MXN,2017-05-05,30000.00,2017-04-16 06:44:47,0.00,failed,0,MX,1.35,0.00,1574.31,0
1103822371,Patches for everyone - Café Viereck,Design,Design,EUR,2017-05-20,15000.00,2017-04-20 08:05:51,0.00,failed,0,DE,26.80,0.00,16793.93,0
110453253,HOME Emergency Preparedness. Resiliency. Safet...,Apps,Technology,USD,2017-04-04,2500.00,2017-03-28 18:44:51,0.00,failed,0,US,25.00,0.00,2500.00,0
1104637995,Harry's DogPack,Product Design,Design,USD,2017-05-13,20000.00,2017-04-11 19:47:18,0.00,canceled,0,US,25.00,0.00,20000.00,0
1130613074,"Luce Quadra : Coffee table, glove box & ambien...",Product Design,Design,EUR,2017-05-16,25000.00,2017-04-16 11:14:11,0.00,failed,0,IT,26.53,0.00,27947.64,0
1136802303,BOULDER,Documentary,Film & Video,USD,2017-12-01,2500.00,2017-10-02 21:28:34,0.00,failed,0,US,20.00,0.00,2500.00,0
1137626463,"Rigid3D, Medium to Large High Quality Precisio...",3D Printing,Technology,EUR,2016-10-25,40000.00,2016-09-25 20:30:02,0.00,canceled,0,IE,168.44,0.00,43688.15,0
1138397473,THE SNEAKER CLEANERS,Footwear,Fashion,USD,2017-12-22,25000.00,2017-10-23 04:15:57,0.00,failed,0,US,100.00,0.00,25000.00,0
1138745536,"""Born Again"" - Share Your Inner Beauty with th...",Nature,Photography,USD,2017-05-10,50000.00,2017-04-10 00:38:22,0.00,failed,0,US,25.00,0.00,50000.00,0
1140686007,SILVER PAGES + LIFELINES (double project relea...,Music,Music,USD,2017-02-20,1.00,2016-12-28 17:57:43,0.00,canceled,0,US,20.00,0.00,1.00,0
1150466424,Want to play the board game KICKSTARTER YOU AR...,Games,Games,USD,2017-05-16,13600.00,2017-04-11 07:08:18,0.00,canceled,0,US,39.00,0.00,13600.00,0
116438579,"100% Silk Necklaces & Bracelet, Silk Thread Ta...",Jewelry,Fashion,USD,2017-08-09,3000.00,2017-07-10 07:10:20,0.00,failed,0,US,25.00,0.00,3000.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
771293950,Pixelate: The Next Game to Destroy Friendships,Video Games,Games,USD,2017-02-25,10000.00,2017-01-26 04:03:22,0.00,failed,0,US,25.00,0.00,10000.00,0
773493220,Grabación de Albúm España 2017 Señor Serio - S...,Music,Music,EUR,2017-05-12,6500.00,2017-04-17 13:23:06,0.00,failed,0,ES,26.53,0.00,7069.37,0
775139653,The Park Pay and Stay App,Apps,Technology,GBP,2017-06-14,40000.00,2017-04-15 10:11:28,0.00,failed,0,GB,31.27,0.00,51076.44,0
778477372,AWESOME WORLD : DISCOVER THE WORLD,Web,Technology,USD,2016-12-31,125000.00,2016-11-05 19:10:59,0.00,failed,0,US,100.00,0.00,125000.00,0
783060249,Treasures From The Word,Nonfiction,Publishing,USD,2017-12-08,5000.00,2017-10-09 04:30:35,0.00,failed,0,US,29.00,0.00,5000.00,0
786348291,20s A Difficult Age - The Video Game,Video Games,Games,USD,2017-12-08,35000.00,2017-10-09 15:38:37,0.00,canceled,0,US,1.00,0.00,35000.00,0
797562974,You-Con,Film & Video,Film & Video,USD,2017-01-17,35000.00,2016-12-03 03:40:47,0.00,failed,0,US,102.00,0.00,35000.00,0
80485427,BusinessTerra Worldwide Platform affordable fo...,Technology,Technology,GBP,2017-02-13,12000.00,2017-01-14 16:34:49,0.00,failed,0,GB,6.08,0.00,14909.05,0
805836463,Funding a Performing Arts Theatre for Children...,Musical,Theater,USD,2016-11-22,15000.00,2016-10-23 18:00:23,0.00,failed,0,US,10.00,0.00,15000.00,0
806472586,A Game of Soldiers,Plays,Theater,GBP,2017-06-13,15000.00,2017-04-14 13:45:04,0.00,failed,0,GB,31.40,0.00,19153.66,0
816152387,Good Earth Cafe,Food,Food,USD,2016-12-08,24400.00,2016-11-10 01:41:30,0.00,failed,0,US,10.00,0.00,24400.00,0
817495998,3d Memories,Printing,Crafts,MXN,2017-05-26,350000.00,2017-03-27 20:20:28,0.00,failed,0,MX,1.33,0.00,18945.55,0
831864842,Alpha Prime,Tabletop Games,Games,GBP,2017-10-07,45000.00,2017-09-07 01:21:45,0.00,canceled,0,GB,122.84,0.00,59726.85,0
831982875,Timeline App,Apps,Technology,USD,2017-04-27,5000.00,2017-03-28 22:03:40,0.00,canceled,0,US,25.00,0.00,5000.00,0
841884816,All Natural Bath & Body Treats Beauty Gift Box,Crafts,Crafts,USD,2017-12-04,1500.00,2017-11-04 03:31:28,0.00,failed,0,US,30.00,0.00,1500.00,0
846555805,"Vintage Skate-Vase, Limited Edition of 250, Nu...",Conceptual Art,Art,USD,2017-09-02,5500.00,2017-07-04 22:36:28,0.00,failed,0,US,20.00,0.00,5500.00,0
871593952,Programmieren für ein besseres Leben,Apps,Technology,EUR,2017-02-12,40000.00,2017-01-13 17:28:46,0.00,failed,0,DE,5.30,0.00,42599.87,0
888587273,Fatty-D's Charburger Grill,Food Trucks,Food,USD,2017-05-12,65000.00,2017-04-12 11:41:19,0.00,failed,0,US,25.00,0.00,65000.00,0
89103022,Innovative exercise equipment developed by Sym...,Product Design,Design,USD,2017-05-23,50000.00,2017-03-24 20:17:57,0.00,failed,0,US,25.00,0.00,50000.00,0
904996877,Campus Food Ordering App (FOODORME),Restaurants,Food,USD,2017-03-30,5000.00,2017-02-03 22:28:48,0.00,failed,0,US,8.00,0.00,5000.00,0
909080977,End Of The Trail Records Kickstarter,Music,Music,GBP,2017-05-16,5000.00,2017-04-18 23:44:37,0.00,failed,0,GB,31.36,0.00,6506.35,0
911925118,International/Domestic Student room platform,Web,Technology,EUR,2016-12-18,50000.00,2016-11-18 10:20:15,0.00,failed,0,NL,64.19,0.00,52230.23,0
913066071,Snack Gloves and Glovkins,Product Design,Design,USD,2017-09-08,70000.00,2017-07-10 18:22:30,0.00,failed,0,US,1.00,0.00,70000.00,0
916919369,The Last of the Blood God's,Fiction,Publishing,USD,2016-12-23,1500.00,2016-10-24 15:06:52,0.00,failed,0,US,28.00,0.00,1500.00,0
927798302,Randezy's first Mixtape!,Hip-Hop,Music,USD,2017-05-16,10000.00,2017-04-16 07:33:09,0.00,failed,0,US,25.00,0.00,10000.00,0
928930112,"Hitchhike for 5,610 miles and try to reach Ell...",Documentary,Film & Video,SEK,2017-03-06,45000.00,2017-01-05 14:18:14,0.00,failed,0,SE,10.91,0.00,4983.11,0
930939140,RetroNemesis Arcade Clothing Line,Apparel,Fashion,USD,2017-05-12,750.00,2017-04-12 21:18:11,0.00,failed,0,US,25.00,0.00,750.00,0
945359364,Painting the faces of strangers,Digital Art,Art,GBP,2017-12-04,50.00,2017-11-03 23:48:24,0.00,failed,0,GB,53.12,0.00,67.08,0
950767056,Sins Of A Son,Documentary,Film & Video,USD,2010-09-04,3500.00,2010-07-02 23:41:15,1.00,failed,0,US,1.00,1.00,3500.00,0
958530198,DIY Easy To Hang Handmade Reclaimed Barn Wood ...,DIY,Crafts,USD,2017-08-07,10000.00,2017-07-08 20:33:01,0.00,failed,0,US,100.00,0.00,10000.00,0

* Tenemos 315 proyectos sin patrocinadores pero con plata prometida.

**2)** ¿Hay proyectos no exitosos que pasaron el objetivo?

In [76]:
kickstarter_2018[(kickstarter_2018.state != 'successful') & (kickstarter_2018.pledged > kickstarter_2018.goal)]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real,name_weirdness
ID,,,,,,,,,,,,,,,
100149523,Duncan Woods - Chameleon EP,Music,Music,AUD,2015-08-25,4500.00,2015-08-04 12:05:17,4767.00,undefined,0,"N,0""",0.00,3402.08,3211.53,0
1001732009,DotPen : Redefines drawing and writing for sma...,Product Design,Design,USD,2014-08-09,25000.00,2014-06-30 21:17:10,39693.00,suspended,647,US,39693.00,39693.00,25000.00,0
1002379225,"The World's First Genuine, Intuitively-control...",Technology,Technology,USD,2017-06-15,5000.00,2017-05-01 18:37:51,61416.00,canceled,103,US,13700.00,61416.00,5000.00,0
1002854072,Spycup turns your iPhone into a hidden camera ...,Gadgets,Technology,CAD,2015-12-19,5000.00,2015-11-19 17:26:34,6672.00,canceled,115,CA,5006.57,4810.38,3604.90,0
1003023003,The Making of Ashley Kelley's Debut Album,Music,Music,USD,2015-04-09,3500.00,2015-03-10 20:06:13,3576.00,undefined,0,"N,0""",0.00,3576.00,3500.00,0
1003130892,Butter Side Down Debut Album,Music,Music,USD,2015-11-26,6000.00,2015-11-02 22:09:19,7007.80,undefined,0,"N,0""",0.00,7007.80,6000.00,0
1003500859,I Can't Believe It's Not Potato Salad ! (Cance...,Cookbooks,Food,GBP,2014-08-10,10.00,2014-07-11 13:35:05,12.00,canceled,3,GB,20.59,20.03,16.69,0
1003629045,Chase Goehring debut EP,Music,Music,USD,2016-03-21,3000.00,2016-02-23 03:09:49,3660.38,undefined,0,"N,0""",0.00,3660.38,3000.00,0
100372771,A Big Dream of a Little Man - Alex Oddman's De...,Music,Music,USD,2017-01-19,1.00,2016-12-20 22:01:21,7.00,canceled,1,US,7.00,7.00,1.00,0
1004013077,Spencer Capier Instrumental Project 2015,Music,Music,CAD,2014-10-10,4000.00,2014-09-10 22:51:01,4760.00,undefined,0,"N,0""",0.00,4251.14,3572.39,0
1004126342,LUKAS LIGETI'S 50TH BIRTHDAY FESTIVAL: ORIGINA...,Music,Music,USD,2015-06-11,5000.00,2015-05-15 02:12:35,6370.00,undefined,0,"N,0""",0.00,6370.00,5000.00,0
1004255433,The Battle For Breukelen: A Neighborhood Epic,Film & Video,Film & Video,USD,2015-11-07,6000.00,2015-10-10 18:45:24,6695.00,undefined,0,"N,0""",0.00,6695.00,6000.00,0
1004298993,"""Tamboura Plays Violin"" - a collection of Pop ...",Music,Music,USD,2015-03-28,2750.00,2015-02-11 19:28:27,2926.00,undefined,0,"N,0""",0.00,2926.00,2750.00,0
1004402863,Nightingale Noel - An A Cappella Holiday CD,Music,Music,USD,2015-12-11,1200.00,2015-11-11 21:02:55,1585.00,undefined,0,"N,0""",0.00,1585.00,1200.00,0
1004434782,DIY BOXCAT by Rato Kim - The Vinyl Art Toy Pla...,DIY,Crafts,USD,2018-01-06,2023.00,2017-12-04 17:26:58,3128.00,live,77,US,190.00,3128.00,2023.00,0
1005618996,Masters of the Tooniverse Podcast (Suspended),Webseries,Film & Video,USD,2013-07-02,3200.00,2013-05-30 19:24:22,3226.00,suspended,24,US,3226.00,3226.00,3200.00,0
1006327667,Letters to the Wild - EP,Music,Music,USD,2014-10-31,2000.00,2014-10-02 22:48:31,2560.00,undefined,0,"N,0""",0.00,2560.00,2000.00,0
100822204,Freedom Ride Jacket | Revolutionizing Urban Cy...,Product Design,Design,USD,2018-01-20,20000.00,2017-11-21 15:02:31,55135.00,live,474,US,15459.00,55135.00,20000.00,0
1008675685,Inspired & the Sleep EP - Eyelid Kid,Music,Music,USD,2015-10-30,2000.00,2015-10-04 21:48:11,2079.00,undefined,0,"N,0""",0.00,2079.00,2000.00,0
1008815806,Into Winter: An Instrumental Christmas Experiment,Music,Music,USD,2014-10-11,2000.00,2014-09-10 23:23:40,2085.00,undefined,0,"N,0""",0.00,2085.00,2000.00,0
1009260867,"Rude Story Cards. An easy, fun & outrageous pa...",Tabletop Games,Games,CAD,2016-10-14,100.00,2016-08-15 19:16:59,121.00,canceled,4,CA,165.99,91.90,75.95,0
1009774693,Universal Peace | Universal Justice,Music,Music,USD,2014-09-06,2500.00,2014-07-29 23:01:07,2720.00,undefined,0,"N,0""",0.00,2720.00,2500.00,0
1010217550,Solarboot-Havel-Tour,Music,Music,EUR,2015-05-31,2500.00,2015-05-14 23:05:51,2620.00,undefined,0,"N,0""",0.00,2939.13,2804.51,0
1010694326,Surrender,Music,Music,CAD,2015-01-30,5000.00,2014-12-29 01:27:30,5197.00,undefined,0,"N,0""",0.00,4101.82,3946.33,0
1011508551,EBENEZER Solo Record,Music,Music,USD,2015-05-30,8000.00,2015-04-20 17:33:24,8361.00,undefined,0,"N,0""",0.00,8361.00,8000.00,0
1012704793,Life In The Bus Lane,Film & Video,Film & Video,USD,2014-12-21,7500.00,2014-11-21 05:09:09,9329.00,undefined,0,"N,0""",0.00,9329.00,7500.00,0
1012807897,Juliet Remembered,Film & Video,Film & Video,GBP,2016-02-06,6500.00,2016-01-07 13:44:33,6660.12,undefined,0,"N,0""",0.00,9660.05,9427.80,0
1014077376,Joseph in the Well's Debut EP - Indie String Pop,Music,Music,USD,2015-05-01,7500.00,2015-04-01 18:36:53,7705.00,undefined,0,"N,0""",0.00,7705.00,7500.00,0
1015045443,Support Nadine's Musical Venture,Music,Music,USD,2015-06-01,2100.00,2015-04-08 20:05:33,2101.00,undefined,0,"N,0""",0.00,2101.00,2100.00,0
1015771770,THE POET,Film & Video,Film & Video,USD,2015-04-12,4000.00,2015-03-13 16:04:21,4592.00,undefined,0,"N,0""",0.00,4592.00,4000.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981103283,Chappie OST Listening Party 12 Hr #TheChappeni...,Installations,Art,USD,2015-04-01,11.00,2015-03-26 06:49:04,12.00,suspended,2,US,12.00,12.00,11.00,0
981146646,Dollar Bill Origami (Canceled),Art,Art,USD,2015-02-14,20.00,2015-01-15 02:41:13,22.00,canceled,3,US,22.00,22.00,20.00,0
981182186,Save the Ramzi (Canceled),Music,Music,USD,2009-06-15,1000.00,2009-05-14 22:27:25,1190.00,canceled,18,US,1190.00,1190.00,1000.00,0
982327172,Kalimba The Spirit of Earth Wind and Fire DVD ...,Music,Music,USD,2015-05-07,2000.00,2015-03-23 17:10:14,2086.00,undefined,0,"N,0""",0.00,2086.00,2000.00,0
982329957,The Atlanta Vocal Project Christmas CD,Music,Music,USD,2014-11-14,2500.00,2014-10-15 18:01:45,2976.00,undefined,0,"N,0""",0.00,2976.00,2500.00,0
982721469,"TAVAPUTS Vinyl Record ""Unresting Event""",Music,Music,USD,2014-12-22,1500.00,2014-11-21 06:39:03,1755.00,undefined,0,"N,0""",0.00,1755.00,1500.00,0
983679756,Custom Hand-made 3-Strand Bracelets! (Suspended),Fashion,Fashion,USD,2014-03-10,200.00,2014-02-10 22:32:22,260.00,suspended,6,US,260.00,260.00,200.00,0
983728691,The Octopodes' 5th Studio Album!,Music,Music,USD,2016-01-05,8000.00,2015-11-19 23:43:09,8025.00,undefined,0,"N,0""",0.00,8025.00,8000.00,0
984297189,Major Arcana Tarot by A MIYAKO M,Illustration,Art,USD,2018-02-03,1000.00,2017-12-16 02:13:40,4125.00,live,94,US,2259.00,4125.00,1000.00,0
985231591,TWO FISH,Film & Video,Film & Video,USD,2014-05-17,8000.00,2014-04-21 21:52:55,8562.00,undefined,0,"N,0""",0.00,8562.00,8000.00,0
986616604,What awaits in Austin (Suspended),Photobooks,Photography,USD,2015-03-15,500.00,2015-02-13 02:16:21,1000.00,suspended,1,US,1000.00,1000.00,500.00,0
988763792,Maud Sings Maud: A Musical Betsy-Tacy Companion,Music,Music,USD,2015-12-03,6500.00,2015-10-04 00:55:19,7814.00,undefined,0,"N,0""",0.00,7814.00,6500.00,0
991409513,Chris Copeland's First EP,Music,Music,USD,2015-02-28,5500.00,2015-01-29 02:58:24,5763.00,undefined,0,"N,0""",0.00,5763.00,5500.00,0
991483230,Support Vocal Synergy's Second Semester and Te...,Music,Music,USD,2015-12-20,3400.00,2015-12-05 05:10:10,3435.00,undefined,0,"N,0""",0.00,3435.00,3400.00,0
991820324,The Blend CD 2015,Music,Music,USD,2015-05-15,8000.00,2015-04-15 00:07:51,8156.00,undefined,0,"N,0""",0.00,8156.00,8000.00,0
992433603,Jonny Come Lately,Film & Video,Film & Video,USD,2014-12-24,8500.00,2014-11-24 20:47:45,9146.00,undefined,0,"N,0""",0.00,9146.00,8500.00,0
992987490,Bicycle Neon Card - Save the night of old Hong...,Playing Cards,Games,HKD,2018-01-17,32000.00,2017-12-18 20:26:07,43573.00,live,85,HK,658.55,5569.00,4089.88,0
993591351,Boards & Brews - New Hampshire's First Board G...,Tabletop Games,Games,USD,2018-01-05,15000.00,2017-12-06 16:00:18,23397.00,live,140,US,11116.00,23397.00,15000.00,0
994080962,Maximum Coppage,Film & Video,Film & Video,USD,2014-08-19,3000.00,2014-07-18 03:42:11,3175.00,undefined,0,"N,0""",0.00,3175.00,3000.00,0
994137973,UsBidi - The World's Most Intelligent Charger ...,Gadgets,Technology,AUD,2015-12-04,35000.00,2015-10-20 15:33:54,501964.79,suspended,8180,AU,365230.79,367309.23,25611.01,0
994621918,Star Sailor,Film & Video,Film & Video,USD,2016-01-01,8000.00,2015-12-03 20:25:41,8061.00,undefined,0,"N,0""",0.00,8061.00,8000.00,0
994933706,Whiskey and Holy Water,Music,Music,USD,2015-05-11,6500.00,2015-03-25 03:55:53,6696.00,undefined,0,"N,0""",0.00,6696.00,6500.00,0
995225156,The World's First Multifunctional Urban Jacket...,Product Design,Design,EUR,2016-08-13,23000.00,2016-06-21 10:03:37,23192.00,canceled,74,IT,26339.01,26267.39,26049.93,0
99613274,Double EP and Music Video Fundraiser,Music,Music,GBP,2015-12-02,3000.00,2015-11-02 09:33:38,3517.00,undefined,0,"N,0""",0.00,5324.59,4541.88,0
997338128,CAPTAINS TABLE: A Pirate Themed Card Game (Can...,Tabletop Games,Games,USD,2015-05-18,165.00,2015-04-10 18:08:19,374.00,canceled,15,US,374.00,374.00,165.00,0
997445060,The Every Day Carry Sling Belt (Canceled),Fashion,Fashion,USD,2012-05-28,1000.00,2012-04-28 07:12:06,1358.00,canceled,35,US,1358.00,1358.00,1000.00,0
997554968,Susan Picking: Making Music with Kids in the S...,Music,Music,USD,2015-03-01,8000.00,2015-01-31 20:58:01,8582.00,undefined,0,"N,0""",0.00,8582.00,8000.00,0
997915422,Otter's First Full Length Album,Music,Music,USD,2015-12-31,5000.00,2015-12-01 00:25:06,6065.26,undefined,0,"N,0""",0.00,6065.26,5000.00,0
998319149,Emily 2050 - Short Film,Film & Video,Film & Video,CAD,2014-05-23,3000.00,2014-04-08 00:30:09,3102.00,undefined,0,"N,0""",0.00,2845.61,2752.04,0
999610349,Lady Vendredi: Afrofuturist concept 12 inch EP,Music,Music,GBP,2015-10-19,2000.00,2015-09-21 22:33:18,2125.00,undefined,0,"N,0""",0.00,3273.36,3080.81,0

* Tenemos 2952 proyectos no exitosos que pasaron el objetivo

**3)** ¿Cómo es, en promedio, la correlación entre el objetivo y la plata obtenida?

In [77]:
df = kickstarter_2018.groupby('state')[['goal','pledged']].aggregate('mean')
df['pledged'] / df['goal']

state
canceled     0.03
failed       0.02
live         0.12
successful   2.37
suspended    0.06
undefined    0.52
dtype: float64

* En promedio, entre el objetivo y la plata obtenida, la correlación es positiva

**4)** ¿Cuánta plata se obtiene en promedio por estado y categoría?

In [78]:
kickstarter_2018.pivot_table(values='usd_pledged',index='state',columns='main_category')

main_category,Art,Comics,Crafts,Dance,Design,Fashion,Film & Video,Food,Games,Journalism,Music,Photography,Publishing,Technology,Theater
state,,,,,,,,,,,,,,,
canceled,405.94,722.46,342.51,455.18,3361.22,996.49,1468.05,715.49,3312.50,198.61,585.91,418.70,451.11,3959.58,1472.81
failed,554.10,869.11,263.54,555.21,2353.08,686.00,1368.40,927.01,1970.92,452.95,557.37,565.53,539.22,2018.73,892.50
live,887.49,934.78,95.43,182.59,3559.01,443.48,336.93,1014.11,1678.80,762.78,434.78,832.48,1031.71,2028.49,479.18
successful,5420.99,9178.68,4053.92,4445.79,43545.99,15136.85,12403.29,14227.41,41643.05,8598.27,6283.11,7897.06,7257.91,67226.64,5289.17
suspended,436.70,347.47,201.33,320.43,11471.42,3539.29,2463.24,2708.65,2497.19,44.77,340.77,159.96,422.83,22953.52,57.08
undefined,nan,nan,nan,0.00,0.00,0.00,0.00,nan,0.00,nan,0.00,0.00,0.00,0.00,0.00

### Ejercicio 5

**1)** ¿Hay proyectos éxitosos que no consiguieron el objetivo? Si hay, ¿Qué porcentaje sí y cuál no?

In [79]:
# Proyectos exitosos que NO consiguieron el objetivo

Exitoso_noObjetivo= (kickstarter_2018[(kickstarter_2018.state == 'successful') & (kickstarter_2018.pledged < kickstarter_2018.goal)]).name
Exitoso_noObjetivo

ID
1368992939                                         Santa's Sled
1769772834    Borders of the Imagination - An Epic Sci-Fi/Fa...
251325270                     Documentary film about Les Blank.
4732285         Insiders/Out: Exploring Outsider Art in America
780863434              TUW Ruhla Watches - Comeback of a Legend
Name: name, dtype: object

In [80]:
# Proyectos exitosos que SI consiguieron el objetivo

Exitoso_siObjetivo= (kickstarter_2018[(kickstarter_2018.state == 'successful') & (kickstarter_2018.pledged >= kickstarter_2018.goal)]).name
Exitoso_siObjetivo

ID
1000014025                                 Monarch Espresso Bar
1000023410    Support Solar Roasted Coffee & Green Energy!  ...
100005484                                      Lisa Lim New CD!
1000057089    Tombstone: Old West tabletop game and miniatur...
1000070642                  Mike Corey's Darkness & Light Album
1000072011                CMUK. Shoes: Take on Life Feet First.
1000091520                          The Book Zoo - A Mini-Comic
1000102741    Matt Cavenaugh & Jenny Powers make their 1st a...
1000104688                                  Permaculture Skills
1000104953    Rebel Army Origins: The Heroic Story Of Major ...
100011318                         My Moon - Animated Short Film
1000117861                    Ledr workbook: one tough journal!
1000120151              Feather Cast Furled Fly Fishing Leaders
100012079               Chris Eger Band - New Nashville Record!
1000131947                           Arrows & Sound Debut Album
1000132945    Zen in America: a film on Zen Buddhism in Nort...
1000146991               Help Scott Reynolds Make a New Record!
1000153208      Phil Younger - Slow Down (Official Music Video)
1000160286                            "THE RETURN" book project
1000171141               The Please, Please Me: Studio Premiere
1000183112                              Hot Chicken Takes Over.
1000184224                                 Star and the Snowman
1000190427                                         Seas of Iron
1000201265    I'LL SEE YOU IN MY DREAMS - narrative feature ...
1000212914                         A Teacher's Travels in China
1000216800    Mothers Into Living Fit Yoga DVD for Moms and ...
1000227361                                           UNDERWATER
1000232288                                       Empires at Sea
1000235643                                         HIIT Bottle™
1000252415    Pantochino Productions: "Cinderella Skeleton, ...
                                    ...
999494808      Invitation to Debate - Martin Luther's 95 Theses
999499675                      Truly Gently presents Theatorium
999565609                                 HELP UNRB GO ON TOUR!
999566709       SlushEngine Stepper Motor Driver - by Roboteurs
999587299                           Arcane Sally & Mr. Steam #2
999667180                          VARIANT WARS - The Prisoners
999668351                                          CAT in WATER
999687927                       Reese and Reeves 2: A new novel
999696660                                       Objects Attack!
999704525                          NARCOS: Webseries / TV Pilot
999725304                               The Mangled (Re-launch)
999741441                                             CORPOREAL
999754150                              31•13: Thesis Exhibition
999762532                      Traverse City Dance Project 2012
999763489                         Kronos: Under 30 Project / #5
99977482         Language of Love -  a new CD from Lisa Deveaux
999796570                                           M A V A R I
999799441                           The Hollywood Kills On Tour
999800713                                      BETTER DESPERATE
999801508                                  Competition Finalist
999829547     PookieCat rune cards - funny oracle cards for ...
999832803     MONSTROCARDS- A Creative Drawing Game of Horri...
999877902                         Little Saturday's Debut Album
999878813                              Ways to Look at the Moon
999884445     Superette Tea - Boldly Caffeinated Loose Leaf Tea
999929142     ÉPOUVANTAILS : 28mm Figurines de jeux pour KIN...
999934908                                  The Manual Bar Blade
999943841                                   The Dog Coffee Book
999969812                                          AT THE BEACH
999971898                           Beach Wrestling Documentary
Name: name, Length: 133951, dtype: object

In [81]:
total= kickstarter_2018.name
total.shape

(378657,)

In [82]:
Exitoso_noObjetivo.shape

(5,)

In [83]:
Exitoso_siObjetivo.shape

(133951,)

In [84]:
# Porcentaje de proyectos exitosos que NO consiguieron el objetivo sobre el total
porcentaje_no= (Exitoso_noObjetivo.count()/ total.count())
porcentaje_no

1.3204562440414412e-05

In [85]:
# Porcentaje de proyectos exitosos que SI consiguieron el objetivo sobre el total
porcentaje_si= (Exitoso_siObjetivo.count()/ total.count())
porcentaje_si

0.35375286869119016

In [86]:
# Proporción de los proyectos exitosos que SI consiguieron el objetivo sobre los que NO lo consiguieron
proporcion_1= Exitoso_siObjetivo.count()/(Exitoso_siObjetivo.count() + Exitoso_noObjetivo.count())
proporcion_1

0.9999626743109677

In [87]:
# Proporción de los proyectos exitosos que NO consiguieron el objetivo sobre los que SI lo consiguieron
proporcion_2= Exitoso_noObjetivo.count()/(Exitoso_noObjetivo.count() + Exitoso_siObjetivo.count())
proporcion_2

3.732568903221953e-05

**2)** Calcular una tabla con la cantidad de proyectos por categoría principal y estado.

In [95]:
kickstarter_2018.pivot_table(index='main_category',
                             columns='state',
                             aggfunc='count', 
                             fill_value=0).astype(int)

               backers                                            category  \
state         canceled failed live successful suspended undefined canceled
main_category
Art               2222  14130  194      11510        96         0     2222
Comics             842   4036   76       5842        23         0      842
Crafts             843   5703   76       2115        72         0      843
Dance              163   1235   18       2338        13         1      163
Design            4152  14814  305      10550       246         2     4152
Fashion           2650  14182  250       5593       138         3     2650
Film & Video      5755  32903  332      23623       117       854     5755
Food              2211  15969  184       6085       153         0     2211
Games             6202  16002  287      12518       220         1     6202
Journalism         523   3137   31       1012        52         0      523
Music             3305  21752  281      24197       149      2234     3305
Photography        986   6384   48       3305        55         1      986
Publishing        3602  23145  299      12300        66       462     3602
Technology        4715  20616  377       6434       424         3     4715
Theater            608   3708   41       6534        21         1      608

                                        ...    usd_pledged             \
state         failed live successful    ...           live successful
main_category                           ...
Art            14130  194      11510    ...            194      11510
Comics          4036   76       5842    ...             76       5842
Crafts          5703   76       2115    ...             76       2115
Dance           1235   18       2338    ...             18       2338
Design         14814  305      10550    ...            305      10550
Fashion        14182  250       5593    ...            250       5593
Film & Video   32903  332      23623    ...            332      23623
Food           15969  184       6085    ...            184       6085
Games          16002  287      12518    ...            287      12518
Journalism      3137   31       1012    ...             31       1012
Music          21752  281      24197    ...            281      24197
Photography     6384   48       3305    ...             48       3305
Publishing     23145  299      12300    ...            299      12300
Technology     20616  377       6434    ...            377       6434
Theater         3708   41       6534    ...             41       6534

                                  usd_pledged_real                         \
state         suspended undefined         canceled failed live successful
main_category
Art                  96         0             2222  14130  194      11510
Comics               23         0              842   4036   76       5842
Crafts               72         0              843   5703   76       2115
Dance                13         1              163   1235   18       2338
Design              246         2             4152  14814  305      10550
Fashion             138         3             2650  14182  250       5593
Film & Video        117       854             5755  32903  332      23623
Food                153         0             2211  15969  184       6085
Games               220         1             6202  16002  287      12518
Journalism           52         0              523   3137   31       1012
Music               149      2234             3305  21752  281      24197
Photography          55         1              986   6384   48       3305
Publishing           66       462             3602  23145  299      12300
Technology          424         3             4715  20616  377       6434
Theater              21         1              608   3708   41       6534


state         suspended undefined
main_category
Art                  96         0
Comics               23         0
Crafts               72         0
Dance                13         1
Design              246         2
Fashion             138         3
Film & Video        117       854
Food                153         0
Games               220         1
Journalism           52         0
Music               149      2234
Photography          55         1
Publishing           66       462
Technology          424         3
Theater              21         1

[15 rows x 78 columns]

## 2.6. Identificar y documentar valores atípicos/outliers

Queremos analizar las características de los proyectos que obtienen dinero pero sin considerar los casos atípicos.

In [ ]:
%matplotlib inline
kickstarter_2018.usd_pledged.hist();

In [ ]:
kickstarter_2018.boxplot(column='usd_pledged');

"There are many rules of thumb for how to define an outlier but there is no silver bullet. One rule of thumb is that any data point that is three standard deviations away from the mean of the same data point for all observations."

In [ ]:
# descartamos los valores que están a 3 valores de la desviación estandar.
# +- pero aca no tenemos valores negativos

outliers = kickstarter_2018[kickstarter_2018.usd_pledged > (kickstarter_2018.usd_pledged.mean() + 
                                                            3 * kickstarter_2018.usd_pledged.std())]
outliers

In [ ]:
kickstarter_2018.drop(outliers.index).boxplot(column='usd_pledged');

In [ ]:
kickstarter_2018.drop(outliers.index).boxplot(column='usd_pledged',by='state');

Analizar outliers por categorías

In [ ]:
kickstarter_2018.boxplot(column='usd_pledged',by='state');
kickstarter_2018.boxplot(column='usd_goal_real',by='state');

#### Ejercicio 6

Calcular los valores atípicos de 'usd_goal_real' y graficar los boxplots, con y sin estos valores por categoría

## 2.7. Evaluar cómo comprimir los datos 
para su almacenamiento más eficiente.

En la actualidad, en las nubes el almacenamiento no suele ser problema sino la velocidad para leerlo que suele ser determinante a la hora de determinar el formato de almacenamiento.

## 2.8. Guardar el set de datos con un nombre informativo.

EL problema de la ingeniería de software

-----------------------------------------------------------------